/*
=================================================================================================
# 6 Borders
-------------------------------------------------------------------------------------------------
*/

.no-border { border: none !important; }

/*
=============================================================================================
# 6.1 Thick
---------------------------------------------------------------------------------------------
*/

.thick-border {
	border-style: solid;
	border-width: $border-thick-width;
}

.thick-top-border {
	border-top-style: solid;
	border-top-width: $border-thick-width;
}

.thick-bottom-border {
	border-bottom-style: solid;
	border-bottom-width: $border-thick-width;
}

.thick-left-border {
	border-left-style: solid;
	border-left-width: $border-thick-width;
}

.thick-right-border {
	border-right-style: solid;
	border-right-width: $border-thick-width;
}

/*
=============================================================================================
# 6.2 Thin
---------------------------------------------------------------------------------------------
*/

.thin-border {
	border-style: solid;
	border-width: $border-thin-width;
}

.thin-top-border {
	border-top-style: solid;
	border-top-width: $border-thin-width;
}

.thin-bottom-border {
	border-bottom-style: solid;
	border-bottom-width: $border-thin-width;
}

.thin-left-border {
	border-left-style: solid;
	border-left-width: $border-thin-width;
}

.thin-right-border {
	border-right-style: solid;
	border-right-width: $border-thin-width;
}
