/*
=================================================================================================
# 7 Buttons
-------------------------------------------------------------------------------------------------
*/

button.button,
a.button,
input[type=submit].button {
  text-decoration: none;
  text-align: center;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  margin: 0px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  outline: none !important;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

button.button.disabled,
button.button[disabled],
a.button.disabled,
a.button[disabled],
input[type=submit].button.disabled,
input[type=submit].button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.45;
}

/*
=============================================================================================
# 7.1 Sizings
---------------------------------------------------------------------------------------------
*/

/*
=========================================================================================
# 7.1.1 Large
-----------------------------------------------------------------------------------------
*/

button.button.large,
a.button.large,
input[type=submit].button.large {
  font-size: $button-large-font;
  font-weight: $font-weight-normal;
  line-height: 2.73;
  padding: 0px 48px;
}
/*
=========================================================================================
# 7.1.2 Medium
-----------------------------------------------------------------------------------------
*/

button.button.medium,
a.button.medium,
input[type=submit].button.medium {
  font-size: $button-medium-font;
  font-weight: $font-weight-normal;
  line-height: 2.73;
  padding: 0px 39px;
}
/*
=========================================================================================
# 7.1.3 Small
-----------------------------------------------------------------------------------------
*/

button.button.small,
a.button.small,
input[type=submit].button.small {
  font-size: $button-large-font;
  font-weight: $font-weight-normal;
  line-height: 2.15;
  padding: 0px 23px;
}
/*
=========================================================================================
# 7.1.4 Mini
-----------------------------------------------------------------------------------------
*/

button.button.mini,
a.button.mini,
input[type=submit].button.mini {
  font-size: $button-large-font;
  font-weight: $font-weight-normal;
  line-height: 1.65;
  padding: 0px 10px;
}
/*
=========================================================================================
# 7.1.5 Full Width
-----------------------------------------------------------------------------------------
*/

button.button.full-width,
a.button.full-width,
input[type=submit].button.full-width {
  display: block;
  width: 100%;
}
/*
=============================================================================================
# 7.2 Varieties
---------------------------------------------------------------------------------------------
*/

/*
=========================================================================================
# 7.2.1 Flat
-----------------------------------------------------------------------------------------
*/

/* There is no custom CSS for flat buttons */

/*
=========================================================================================
# 7.2.2 Raised
-----------------------------------------------------------------------------------------
*/

button.button.raised,
a.button.raised,
input[type=submit].button.raised,
button.button.raised:focus,
a.button.raised:focus,
input[type=submit].button.raised:focus {
  top: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button.button.raised.disabled,
button.button[disabled].raised,
a.button.disabled.raised,
a.button[disabled].raised,
input[type=submit].button.disabled.raised,
input[type=submit].button[disabled].raised {
  top: 0px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}
/*
=========================================================================================
# 7.2.4 Border
-----------------------------------------------------------------------------------------
*/

/* This part is actually covered in borders section (# 8 Borders) */

/*
=============================================================================================
# 7.3 Effects
---------------------------------------------------------------------------------------------
*/

/*
=========================================================================================
# 7.3.1 Hover Effects
-----------------------------------------------------------------------------------------
*/

/*
=====================================================================================
# 7.3.1.1 Change Color
-------------------------------------------------------------------------------------
*/

/* This part is actually covered in colors section (# 2 Background Colors) */

/*
=====================================================================================
# 7.3.1.2  Lift
-------------------------------------------------------------------------------------
*/

button.button.raised.lift-hover:hover,
a.button.raised.lift-hover:hover,
input[type=submit].button.raised.lift-hover:hover {
  top: -1px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/*
=========================================================================================
# 7.3.2 Click Effects
-----------------------------------------------------------------------------------------
*/

/*
=====================================================================================
# 7.3.2.1 Change Color
-------------------------------------------------------------------------------------
*/

/* This part is actually covered in colors section (# 3 Background Colors) */

/*
=====================================================================================
# 7.3.2.2 Ripple
-------------------------------------------------------------------------------------
*/

.ripple-effect {
  display: block;
  position: absolute;
  border-radius: 100%;
  transform: scale(0);
}
.ripple-effect.ripple-effect-lighten {
  background: rgba(255, 255, 255, 0.3);
}
.ripple-effect.ripple-effect-darken {
  background: rgba(0, 0, 0, 0.3);
}
.ripple-animate {
  animation: ripple 0.65s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/*
=====================================================================================
# 7.3.2.3 Sink
-------------------------------------------------------------------------------------
*/

button.button.flat.sink-click:active,
a.button.flat.sink-click:active,
input[type=submit].button.flat.sink-click:active {
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}
/*
=====================================================================================
# 7.3.2.4 Set
-------------------------------------------------------------------------------------
*/

button.button.raised.set-click:active,
a.button.raised.set-click:active,
input[type=submit].button.raised.set-click:active {
  top: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
