/*
=================================================================================================
# 20 Card
-------------------------------------------------------------------------------------------------
*/

.card{
	width: 100%;
	height: auto;
}

/*
=================================================================================================
# 20.1 Card Image
-------------------------------------------------------------------------------------------------
*/

.card .card-image img {
  border-radius: inherit;
}

/*
=================================================================================================
# 20.2 Card Title
-------------------------------------------------------------------------------------------------
*/

.card p.title {
  font-weight: bold;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.card p.subtitle {
	font-size: 14px;
	font-weight: normal;
	opacity: .55;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
=========================================================================================
# 20.2.1 Card Title without Avatar
-----------------------------------------------------------------------------------------
*/

.card .card-title {
  padding-top: 24px;
  padding-bottom: 16px;
}

@media screen and (min-width: 992px) { /* on Desktop and Laptop */
  .card .card-title {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 991px) { /* on Tablet and Mobile */
  .card .card-title {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card .card-title p.title {
  font-size: 24px;
}

/*
=========================================================================================
# 20.2.2 Card Title with Avatar
-----------------------------------------------------------------------------------------
*/

.card .card-title-with-avatar {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 992px) { /* on Desktop and Laptop */
  .card .card-title-with-avatar {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 991px) { /* on Tablet and Mobile */
  .card .card-title-with-avatar {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card .card-title-with-avatar img.avatar {
  height: 40px;  width: 40px;
}

.card .card-title-with-avatar img.avatar {
  margin-left: 16px;
  margin-right: 0px;
	float: right;
}

.card .card-title-with-avatar p.title {
  font-size: 14px;
}

/*
=================================================================================================
# 20.3 Card Content
-------------------------------------------------------------------------------------------------
*/

.card .card-content {
  padding: 16px;
}

.card .card-content p {
  margin:0px;
}

/*
=================================================================================================
# 20.4 Card Action
-------------------------------------------------------------------------------------------------
*/

.card .card-action {
  padding: 8px;
}

.card .card-action .button {
  margin-left: 3px;
  margin-right: 0px;
}
