/*
=================================================================================================
# 3 Background Colors
-------------------------------------------------------------------------------------------------
*/
/*
=============================================================================================
# 3.1 Red
---------------------------------------------------------------------------------------------
*/

.red,
.red-hover:hover {
  background-color: #f44336;
  color: rgba(255, 255, 255, 0.87);
}
.red-lighten-5,
.red-lighten-5-hover:hover {
  background-color: #ffebee;
  color: rgba(0, 0, 0, 0.87);
}
.red-lighten-4,
.red-lighten-4-hover:hover {
  background-color: #ffcdd2;
  color: rgba(0, 0, 0, 0.87);
}
.red-lighten-3,
.red-lighten-3-hover:hover {
  background-color: #ef9a9a;
  color: rgba(0, 0, 0, 0.87);
}
.red-lighten-2,
.red-lighten-2-hover:hover {
  background-color: #e57373;
  color: rgba(0, 0, 0, 0.87);
}
.red-lighten-1,
.red-lighten-1-hover:hover {
  background-color: #ef5350;
  color: rgba(255, 255, 255, 0.87);
}
.red-darken-1,
.red-darken-1-hover:hover {
  background-color: #e53935;
  color: rgba(255, 255, 255, 0.87);
}
.red-darken-2,
.red-darken-2-hover:hover {
  background-color: #d32f2f;
  color: rgba(255, 255, 255, 0.87);
}
.red-darken-3,
.red-darken-3-hover:hover {
  background-color: #c62828;
  color: rgba(255, 255, 255, 0.87);
}
.red-darken-4,
.red-darken-4-hover:hover {
  background-color: #b71c1c;
  color: rgba(255, 255, 255, 0.87);
}
.red-accent-1,
.red-accent-1-hover:hover {
  background-color: #ff8a80;
  color: rgba(0, 0, 0, 0.87);
}
.red-accent-2,
.red-accent-2-hover:hover {
  background-color: #ff5252;
  color: rgba(255, 255, 255, 0.87);
}
.red-accent-3,
.red-accent-3-hover:hover {
  background-color: #ff1744;
  color: rgba(255, 255, 255, 0.87);
}
.red-accent-4,
.red-accent-4-hover:hover {
  background-color: #d50000;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.2 Pink
---------------------------------------------------------------------------------------------
*/

.pink,
.pink-hover:hover {
  background-color: #e91e63;
  color: rgba(255, 255, 255, 0.87);
}
.pink-lighten-5,
.pink-lighten-5-hover:hover {
  background-color: #fce4ec;
  color: rgba(0, 0, 0, 0.87);
}
.pink-lighten-4,
.pink-lighten-4-hover:hover {
  background-color: #f8bbd0;
  color: rgba(0, 0, 0, 0.87);
}
.pink-lighten-3,
.pink-lighten-3-hover:hover {
  background-color: #f48fb1;
  color: rgba(0, 0, 0, 0.87);
}
.pink-lighten-2,
.pink-lighten-2-hover:hover {
  background-color: #f06292;
  color: rgba(255, 255, 255, 0.87);
}
.pink-lighten-1,
.pink-lighten-1-hover:hover {
  background-color: #ec407a;
  color: rgba(255, 255, 255, 0.87);
}
.pink-darken-1,
.pink-darken-1-hover:hover {
  background-color: #d81b60;
  color: rgba(255, 255, 255, 0.87);
}
.pink-darken-2,
.pink-darken-2-hover:hover {
  background-color: #c2185b;
  color: rgba(255, 255, 255, 0.87);
}
.pink-darken-3,
.pink-darken-3-hover:hover {
  background-color: #ad1457;
  color: rgba(255, 255, 255, 0.87);
}
.pink-darken-4,
.pink-darken-4-hover:hover {
  background-color: #880e4f;
  color: rgba(255, 255, 255, 0.87);
}
.pink-accent-1,
.pink-accent-1-hover:hover {
  background-color: #ff80ab;
  color: rgba(0, 0, 0, 0.87);
}
.pink-accent-2,
.pink-accent-2-hover:hover {
  background-color: #ff4081;
  color: rgba(255, 255, 255, 0.87);
}
.pink-accent-3,
.pink-accent-3-hover:hover {
  background-color: #f50057;
  color: rgba(255, 255, 255, 0.87);
}
.pink-accent-4,
.pink-accent-4-hover:hover {
  background-color: #c51162;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.3 Purple
---------------------------------------------------------------------------------------------
*/

.purple,
.purple-hover:hover {
  background-color: #9c27b0;
  color: rgba(255, 255, 255, 0.87);
}
.purple-lighten-5,
.purple-lighten-5-hover:hover {
  background-color: #f3e5f5;
  color: rgba(0, 0, 0, 0.87);
}
.purple-lighten-4,
.purple-lighten-4-hover:hover {
  background-color: #e1bee7;
  color: rgba(0, 0, 0, 0.87);
}
.purple-lighten-3,
.purple-lighten-3-hover:hover {
  background-color: #ce93d8;
  color: rgba(0, 0, 0, 0.87);
}
.purple-lighten-2,
.purple-lighten-2-hover:hover {
  background-color: #ba68c8;
  color: rgba(255, 255, 255, 0.87);
}
.purple-lighten-1,
.purple-lighten-1-hover:hover {
  background-color: #ab47bc;
  color: rgba(255, 255, 255, 0.87);
}
.purple-darken-1,
.purple-darken-1-hover:hover {
  background-color: #8e24aa;
  color: rgba(255, 255, 255, 0.87);
}
.purple-darken-2,
.purple-darken-2-hover:hover {
  background-color: #7b1fa2;
  color: rgba(255, 255, 255, 0.87);
}
.purple-darken-3,
.purple-darken-3-hover:hover {
  background-color: #6a1b9a;
  color: rgba(255, 255, 255, 0.87);
}
.purple-darken-4,
.purple-darken-4-hover:hover {
  background-color: #4a148c;
  color: rgba(255, 255, 255, 0.87);
}
.purple-accent-1,
.purple-accent-1-hover:hover {
  background-color: #ea80fc;
  color: rgba(0, 0, 0, 0.87);
}
.purple-accent-2,
.purple-accent-2-hover:hover {
  background-color: #e040fb;
  color: rgba(255, 255, 255, 0.87);
}
.purple-accent-3,
.purple-accent-3-hover:hover {
  background-color: #d500f9;
  color: rgba(255, 255, 255, 0.87);
}
.purple-accent-4,
.purple-accent-4-hover:hover {
  background-color: #aa00ff;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.4 Deep Purple
---------------------------------------------------------------------------------------------
*/

.deep-purple,
.deep-purple-hover:hover {
  background-color: #673ab7;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-lighten-5,
.deep-purple-lighten-5-hover:hover {
  background-color: #ede7f6;
  color: rgba(0, 0, 0, 0.87);
}
.deep-purple-lighten-4,
.deep-purple-lighten-4-hover:hover {
  background-color: #d1c4e9;
  color: rgba(0, 0, 0, 0.87);
}
.deep-purple-lighten-3,
.deep-purple-lighten-3-hover:hover {
  background-color: #b39ddb;
  color: rgba(0, 0, 0, 0.87);
}
.deep-purple-lighten-2,
.deep-purple-lighten-2-hover:hover {
  background-color: #9575cd;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-lighten-1,
.deep-purple-lighten-1-hover:hover {
  background-color: #7e57c2;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-darken-1,
.deep-purple-darken-1-hover:hover {
  background-color: #5e35b1;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-darken-2,
.deep-purple-darken-2-hover:hover {
  background-color: #512da8;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-darken-3,
.deep-purple-darken-3-hover:hover {
  background-color: #4527a0;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-darken-4,
.deep-purple-darken-4-hover:hover {
  background-color: #311b92;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-accent-1,
.deep-purple-accent-1-hover:hover {
  background-color: #b388ff;
  color: rgba(0, 0, 0, 0.87);
}
.deep-purple-accent-2,
.deep-purple-accent-2-hover:hover {
  background-color: #7c4dff;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-accent-3,
.deep-purple-accent-3-hover:hover {
  background-color: #651fff;
  color: rgba(255, 255, 255, 0.87);
}
.deep-purple-accent-4,
.deep-purple-accent-4-hover:hover {
  background-color: #6200ea;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.5 Indigo
---------------------------------------------------------------------------------------------
*/

.indigo,
.indigo-hover:hover {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-lighten-5,
.indigo-lighten-5-hover:hover {
  background-color: #e8eaf6;
  color: rgba(0, 0, 0, 0.87);
}
.indigo-lighten-4,
.indigo-lighten-4-hover:hover {
  background-color: #c5cae9;
  color: rgba(0, 0, 0, 0.87);
}
.indigo-lighten-3,
.indigo-lighten-3-hover:hover {
  background-color: #9fa8da;
  color: rgba(0, 0, 0, 0.87);
}
.indigo-lighten-2,
.indigo-lighten-2-hover:hover {
  background-color: #7986cb;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-lighten-1,
.indigo-lighten-1-hover:hover {
  background-color: #5c6bc0;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-darken-1,
.indigo-darken-1-hover:hover {
  background-color: #3949ab;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-darken-2,
.indigo-darken-2-hover:hover {
  background-color: #303f9f;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-darken-3,
.indigo-darken-3-hover:hover {
  background-color: #283593;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-darken-4,
.indigo-darken-4-hover:hover {
  background-color: #1a237e;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-accent-1,
.indigo-accent-1-hover:hover {
  background-color: #8c9eff;
  color: rgba(0, 0, 0, 0.87);
}
.indigo-accent-2,
.indigo-accent-2-hover:hover {
  background-color: #536dfe;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-accent-3,
.indigo-accent-3-hover:hover {
  background-color: #3d5afe;
  color: rgba(255, 255, 255, 0.87);
}
.indigo-accent-4,
.indigo-accent-4-hover:hover {
  background-color: #304ffe;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.6 Blue
---------------------------------------------------------------------------------------------
*/

.blue,
.blue-hover:hover {
  background-color: #2196f3;
  color: rgba(255, 255, 255, 0.87);
}
.blue-lighten-5,
.blue-lighten-5-hover:hover {
  background-color: #e3f2fd;
  color: rgba(0, 0, 0, 0.87);
}
.blue-lighten-4,
.blue-lighten-4-hover:hover {
  background-color: #bbdefb;
  color: rgba(0, 0, 0, 0.87);
}
.blue-lighten-3,
.blue-lighten-3-hover:hover {
  background-color: #90caf9;
  color: rgba(0, 0, 0, 0.87);
}
.blue-lighten-2,
.blue-lighten-2-hover:hover {
  background-color: #64b5f6;
  color: rgba(0, 0, 0, 0.87);
}
.blue-lighten-1,
.blue-lighten-1-hover:hover {
  background-color: #42a5f5;
  color: rgba(0, 0, 0, 0.87);
}
.blue-darken-1,
.blue-darken-1-hover:hover {
  background-color: #1e88e5;
  color: rgba(255, 255, 255, 0.87);
}
.blue-darken-2,
.blue-darken-2-hover:hover {
  background-color: #1976d2;
  color: rgba(255, 255, 255, 0.87);
}
.blue-darken-3,
.blue-darken-3-hover:hover {
  background-color: #1565c0;
  color: rgba(255, 255, 255, 0.87);
}
.blue-darken-4,
.blue-darken-4-hover:hover {
  background-color: #0d47a1;
  color: rgba(255, 255, 255, 0.87);
}
.blue-accent-1,
.blue-accent-1-hover:hover {
  background-color: #82b1ff;
  color: rgba(0, 0, 0, 0.87);
}
.blue-accent-2,
.blue-accent-2-hover:hover {
  background-color: #448aff;
  color: rgba(255, 255, 255, 0.87);
}
.blue-accent-3,
.blue-accent-3-hover:hover {
  background-color: #2979ff;
  color: rgba(255, 255, 255, 0.87);
}
.blue-accent-4,
.blue-accent-4-hover:hover {
  background-color: #2962ff;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.7 Light Blue
---------------------------------------------------------------------------------------------
*/

.light-blue,
.light-blue-hover:hover {
  background-color: #03a9f4;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-lighten-5,
.light-blue-lighten-5-hover:hover {
  background-color: #e1f5fe;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-lighten-4,
.light-blue-lighten-4-hover:hover {
  background-color: #b3e5fc;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-lighten-3,
.light-blue-lighten-3-hover:hover {
  background-color: #81d4fa;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-lighten-2,
.light-blue-lighten-2-hover:hover {
  background-color: #4fc3f7;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-lighten-1,
.light-blue-lighten-1-hover:hover {
  background-color: #29b6f6;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-darken-1,
.light-blue-darken-1-hover:hover {
  background-color: #039be5;
  color: rgba(255, 255, 255, 0.87);
}
.light-blue-darken-2,
.light-blue-darken-2-hover:hover {
  background-color: #0288d1;
  color: rgba(255, 255, 255, 0.87);
}
.light-blue-darken-3,
.light-blue-darken-3-hover:hover {
  background-color: #0277bd;
  color: rgba(255, 255, 255, 0.87);
}
.light-blue-darken-4,
.light-blue-darken-4-hover:hover {
  background-color: #01579b;
  color: rgba(255, 255, 255, 0.87);
}
.light-blue-accent-1,
.light-blue-accent-1-hover:hover {
  background-color: #80d8ff;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-accent-2,
.light-blue-accent-2-hover:hover {
  background-color: #40c4ff;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-accent-3,
.light-blue-accent-3-hover:hover {
  background-color: #00b0ff;
  color: rgba(0, 0, 0, 0.87);
}
.light-blue-accent-4,
.light-blue-accent-4-hover:hover {
  background-color: #0091ea;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.8 Cyan
---------------------------------------------------------------------------------------------
*/

.cyan,
.cyan-hover:hover {
  background-color: #00bcd4;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-lighten-5,
.cyan-lighten-5-hover:hover {
  background-color: #e0f7fa;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-lighten-4,
.cyan-lighten-4-hover:hover {
  background-color: #b2ebf2;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-lighten-3,
.cyan-lighten-3-hover:hover {
  background-color: #80deea;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-lighten-2,
.cyan-lighten-2-hover:hover {
  background-color: #4dd0e1;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-lighten-1,
.cyan-lighten-1-hover:hover {
  background-color: #26c6da;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-darken-1,
.cyan-darken-1-hover:hover {
  background-color: #00acc1;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-darken-2,
.cyan-darken-2-hover:hover {
  background-color: #0097a7;
  color: rgba(255, 255, 255, 0.87);
}
.cyan-darken-3,
.cyan-darken-3-hover:hover {
  background-color: #00838f;
  color: rgba(255, 255, 255, 0.87);
}
.cyan-darken-4,
.cyan-darken-4-hover:hover {
  background-color: #006064;
  color: rgba(255, 255, 255, 0.87);
}
.cyan-accent-1,
.cyan-accent-1-hover:hover {
  background-color: #84ffff;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-accent-2,
.cyan-accent-2-hover:hover {
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-accent-3,
.cyan-accent-3-hover:hover {
  background-color: #00e5ff;
  color: rgba(0, 0, 0, 0.87);
}
.cyan-accent-4,
.cyan-accent-4-hover:hover {
  background-color: #00b8d4;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.9 Teal
---------------------------------------------------------------------------------------------
*/

.teal,
.teal-hover:hover {
  background-color: #009688;
  color: rgba(255, 255, 255, 0.87);
}
.teal-lighten-5,
.teal-lighten-4-hover:hover {
  background-color: #e0f2f1;
  color: rgba(0, 0, 0, 0.87);
}
.teal-lighten-4,
.teal-lighten-4-hover:hover {
  background-color: #b2dfdb;
  color: rgba(0, 0, 0, 0.87);
}
.teal-lighten-3,
.teal-lighten-3-hover:hover {
  background-color: #80cbc4;
  color: rgba(0, 0, 0, 0.87);
}
.teal-lighten-2,
.teal-lighten-2-hover:hover {
  background-color: #4db6ac;
  color: rgba(0, 0, 0, 0.87);
}
.teal-lighten-1,
.teal-lighten-1-hover:hover {
  background-color: #26a69a;
  color: rgba(0, 0, 0, 0.87);
}
.teal-darken-1,
.teal-darken-1-hover:hover {
  background-color: #00897b;
  color: rgba(255, 255, 255, 0.87);
}
.teal-darken-2,
.teal-darken-2-hover:hover {
  background-color: #00796b;
  color: rgba(255, 255, 255, 0.87);
}
.teal-darken-3,
.teal-darken-3-hover:hover {
  background-color: #00695c;
  color: rgba(255, 255, 255, 0.87);
}
.teal-darken-4,
.teal-darken-4-hover:hover {
  background-color: #004d40;
  color: rgba(255, 255, 255, 0.87);
}
.teal-accent-1,
.teal-accent-1-hover:hover {
  background-color: #a7ffeb;
  color: rgba(0, 0, 0, 0.87);
}
.teal-accent-2,
.teal-accent-2-hover:hover {
  background-color: #64ffda;
  color: rgba(0, 0, 0, 0.87);
}
.teal-accent-3,
.teal-accent-3-hover:hover {
  background-color: #1de9b6;
  color: rgba(0, 0, 0, 0.87);
}
.teal-accent-4,
.teal-accent-4-hover:hover {
  background-color: #00bfa5;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.10 Green
---------------------------------------------------------------------------------------------
*/

.green,
.green-hover:hover {
  background-color: #4caf50;
  color: rgba(0, 0, 0, 0.87);
}
.green-lighten-5,
.green-lighten-5-hover:hover {
  background-color: #e8f5e9;
  color: rgba(0, 0, 0, 0.87);
}
.green-lighten-4,
.green-lighten-4-hover:hover {
  background-color: #c8e6c9;
  color: rgba(0, 0, 0, 0.87);
}
.green-lighten-3,
.green-lighten-2-hover:hover {
  background-color: #a5d6a7;
  color: rgba(0, 0, 0, 0.87);
}
.green-lighten-2,
.green-lighten-2-hover:hover {
  background-color: #81c784;
  color: rgba(0, 0, 0, 0.87);
}
.green-lighten-1,
.green-lighten-1-hover:hover {
  background-color: #66bb6a;
  color: rgba(0, 0, 0, 0.87);
}
.green-darken-1,
.green-darken-1-hover:hover {
  background-color: #43a047;
  color: rgba(255, 255, 255, 0.87);
}
.green-darken-2,
.green-darken-2-hover:hover {
  background-color: #388e3c;
  color: rgba(255, 255, 255, 0.87);
}
.green-darken-3,
.green-darken-3-hover:hover {
  background-color: #2e7d32;
  color: rgba(255, 255, 255, 0.87);
}
.green-darken-4,
.green-darken-4-hover:hover {
  background-color: #1b5e20;
  color: rgba(255, 255, 255, 0.87);
}
.green-accent-1,
.green-accent-1-hover:hover {
  background-color: #b9f6ca;
  color: rgba(0, 0, 0, 0.87);
}
.green-accent-2,
.green-accent-2-hover:hover {
  background-color: #69f0ae;
  color: rgba(0, 0, 0, 0.87);
}
.green-accent-3,
.green-accent-3-hover:hover {
  background-color: #00e676;
  color: rgba(0, 0, 0, 0.87);
}
.green-accent-4,
.green-accent-4-hover:hover {
  background-color: #00c853;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.11 Light Green
---------------------------------------------------------------------------------------------
*/

.light-green,
.light-green-hover:hover {
  background-color: #8bc34a;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-lighten-5,
.light-green-lighten-5-hover:hover {
  background-color: #f1f8e9;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-lighten-4,
.light-green-lighten-4-hover:hover {
  background-color: #dcedc8;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-lighten-3,
.light-green-lighten-3-hover:hover {
  background-color: #c5e1a5;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-lighten-2,
.light-green-lighten-2-hover:hover {
  background-color: #aed581;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-lighten-1,
.light-green-lighten-1-hover:hover {
  background-color: #9ccc65;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-darken-1,
.light-green-darken-1-hover:hover {
  background-color: #7cb342;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-darken-2,
.light-green-darken-2-hover:hover {
  background-color: #689f38;
  color: rgba(255, 255, 255, 0.87);
}
.light-green-darken-3,
.light-green-darken-3-hover:hover {
  background-color: #558b2f;
  color: rgba(255, 255, 255, 0.87);
}
.light-green-darken-4,
.light-green-darken-4-hover:hover {
  background-color: #33691e;
  color: rgba(255, 255, 255, 0.87);
}
.light-green-accent-1,
.light-green-accent-1-hover:hover {
  background-color: #ccff90;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-accent-2,
.light-green-accent-2-hover:hover {
  background-color: #b2ff59;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-accent-3,
.light-green-accent-3-hover:hover {
  background-color: #76ff03;
  color: rgba(0, 0, 0, 0.87);
}
.light-green-accent-4,
.light-green-accent-4-hover:hover {
  background-color: #64dd17;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.12 Lime
---------------------------------------------------------------------------------------------
*/

.lime,
.lime-hover:hover {
  background-color: #cddc39;
  color: rgba(0, 0, 0, 0.87);
}
.lime-lighten-5,
.lime-lighten-5-hover:hover {
  background-color: #f9fbe7;
  color: rgba(0, 0, 0, 0.87);
}
.lime-lighten-4,
.lime-lighten-4-hover:hover {
  background-color: #f0f4c3;
  color: rgba(0, 0, 0, 0.87);
}
.lime-lighten-3,
.lime-lighten-3-hover:hover {
  background-color: #e6ee9c;
  color: rgba(0, 0, 0, 0.87);
}
.lime-lighten-2,
.lime-lighten-2-hover:hover {
  background-color: #dce775;
  color: rgba(0, 0, 0, 0.87);
}
.lime-lighten-1,
.lime-lighten-1-hover:hover {
  background-color: #d4e157;
  color: rgba(0, 0, 0, 0.87);
}
.lime-darken-1,
.lime-darken-1-hover:hover {
  background-color: #c0ca33;
  color: rgba(0, 0, 0, 0.87);
}
.lime-darken-2,
.lime-darken-2-hover:hover {
  background-color: #afb42b;
  color: rgba(0, 0, 0, 0.87);
}
.lime-darken-3,
.lime-darken-3-hover:hover {
  background-color: #9e9d24;
  color: rgba(0, 0, 0, 0.87);
}
.lime-darken-4,
.lime-darken-4-hover:hover {
  background-color: #827717;
  color: rgba(255, 255, 255, 0.87);
}
.lime-accent-1,
.lime-accent-1-hover:hover {
  background-color: #f4ff81;
  color: rgba(0, 0, 0, 0.87);
}
.lime-accent-2,
.lime-accent-2-hover:hover {
  background-color: #eeff41;
  color: rgba(0, 0, 0, 0.87);
}
.lime-accent-3,
.lime-accent-3-hover:hover {
  background-color: #c6ff00;
  color: rgba(0, 0, 0, 0.87);
}
.lime-accent-4,
.lime-accent-4-hover:hover {
  background-color: #aeea00;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.13 Yellow
---------------------------------------------------------------------------------------------
*/

.yellow,
.yellow-hover:hover {
  background-color: #ffeb3b;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-lighten-5,
.yellow-lighten-5-hover:hover {
  background-color: #fffde7;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-lighten-4,
.yellow-lighten-4-hover:hover {
  background-color: #fff9c4;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-lighten-3,
.yellow-lighten-3-hover:hover {
  background-color: #fff59d;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-lighten-2,
.yellow-lighten-2-hover:hover {
  background-color: #fff176;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-lighten-1,
.yellow-lighten-1-hover:hover {
  background-color: #ffee58;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-darken-1,
.yellow-darken-1-hover:hover {
  background-color: #fdd835;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-darken-2,
.yellow-darken-2-hover:hover {
  background-color: #fbc02d;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-darken-3,
.yellow-darken-3-hover:hover {
  background-color: #f9a825;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-darken-4,
.yellow-darken-4-hover:hover {
  background-color: #f57f17;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-accent-1,
.yellow-accent-1-hover:hover {
  background-color: #ffff8d;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-accent-2,
.yellow-accent-2-hover:hover {
  background-color: #ffff00;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-accent-3,
.yellow-accent-3-hover:hover {
  background-color: #ffea00;
  color: rgba(0, 0, 0, 0.87);
}
.yellow-accent-4,
.yellow-accent-4-hover:hover {
  background-color: #ffd600;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.14 Amber
---------------------------------------------------------------------------------------------
*/

.amber,
.amber-hover:hover {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.87);
}
.amber-lighten-5,
.amber-lighten-5-hover:hover {
  background-color: #fff8e1;
  color: rgba(0, 0, 0, 0.87);
}
.amber-lighten-4,
.amber-lighten-4-hover:hover {
  background-color: #ffecb3;
  color: rgba(0, 0, 0, 0.87);
}
.amber-lighten-3,
.amber-lighten-3-hover:hover {
  background-color: #ffe082;
  color: rgba(0, 0, 0, 0.87);
}
.amber-lighten-2,
.amber-lighten-2-hover:hover {
  background-color: #ffd54f;
  color: rgba(0, 0, 0, 0.87);
}
.amber-lighten-1,
.amber-lighten-1-hover:hover {
  background-color: #ffca28;
  color: rgba(0, 0, 0, 0.87);
}
.amber-darken-1,
.amber-darken-1-hover:hover {
  background-color: #ffb300;
  color: rgba(0, 0, 0, 0.87);
}
.amber-darken-2,
.amber-darken-2-hover:hover {
  background-color: #ffa000;
  color: rgba(0, 0, 0, 0.87);
}
.amber-darken-3,
.amber-darken-3-hover:hover {
  background-color: #ff8f00;
  color: rgba(0, 0, 0, 0.87);
}
.amber-darken-4,
.amber-darken-4-hover:hover {
  background-color: #ff6f00;
  color: rgba(0, 0, 0, 0.87);
}
.amber-accent-1,
.amber-accent-1-hover:hover {
  background-color: #ffe57f;
  color: rgba(0, 0, 0, 0.87);
}
.amber-accent-2,
.amber-accent-2-hover:hover {
  background-color: #ffd740;
  color: rgba(0, 0, 0, 0.87);
}
.amber-accent-3,
.amber-accent-3-hover:hover {
  background-color: #ffc400;
  color: rgba(0, 0, 0, 0.87);
}
.amber-accent-4,
.amber-accent-4-hover:hover {
  background-color: #ffab00;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.15 Orange
---------------------------------------------------------------------------------------------
*/

.orange,
.orange-hover:hover {
  background-color: #ff9800;
  color: rgba(0, 0, 0, 0.87);
}
.orange-lighten-5,
.orange-lighten-5-hover:hover {
  background-color: #fff3e0;
  color: rgba(0, 0, 0, 0.87);
}
.orange-lighten-4,
.orange-lighten-4-hover:hover {
  background-color: #ffe0b2;
  color: rgba(0, 0, 0, 0.87);
}
.orange-lighten-3,
.orange-lighten-3-hover:hover {
  background-color: #ffcc80;
  color: rgba(0, 0, 0, 0.87);
}
.orange-lighten-2,
.orange-lighten-2-hover:hover {
  background-color: #ffb74d;
  color: rgba(0, 0, 0, 0.87);
}
.orange-lighten-1,
.orange-lighten-1-hover:hover {
  background-color: #ffa726;
  color: rgba(0, 0, 0, 0.87);
}
.orange-darken-1,
.orange-darken-1-hover:hover {
  background-color: #fb8c00;
  color: rgba(0, 0, 0, 0.87);
}
.orange-darken-2,
.orange-darken-2-hover:hover {
  background-color: #f57c00;
  color: rgba(0, 0, 0, 0.87);
}
.orange-darken-3,
.orange-darken-3-hover:hover {
  background-color: #ef6c00;
  color: rgba(255, 255, 255, 0.87);
}
.orange-darken-4,
.orange-darken-4-hover:hover {
  background-color: #e65100;
  color: rgba(255, 255, 255, 0.87);
}
.orange-accent-1,
.orange-accent-1-hover:hover {
  background-color: #ffd180;
  color: rgba(0, 0, 0, 0.87);
}
.orange-accent-2,
.orange-accent-2-hover:hover {
  background-color: #ffab40;
  color: rgba(0, 0, 0, 0.87);
}
.orange-accent-3,
.orange-accent-3-hover:hover {
  background-color: #ff9100;
  color: rgba(0, 0, 0, 0.87);
}
.orange-accent-4,
.orange-accent-4-hover:hover {
  background-color: #ff6d00;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.16 Deep Orange
---------------------------------------------------------------------------------------------
*/

.deep-orange,
.deep-orange-hover:hover {
  background-color: #ff5722;
  color: rgba(255, 255, 255, 0.87);
}
.deep-orange-lighten-5,
.deep-orange-lighten-5-hover:hover {
  background-color: #fbe9e7;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-lighten-4,
.deep-orange-lighten-4-hover:hover {
  background-color: #ffccbc;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-lighten-3,
.deep-orange-lighten-3-hover:hover {
  background-color: #ffab91;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-lighten-2,
.deep-orange-lighten-2-hover:hover {
  background-color: #ff8a65;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-lighten-1,
.deep-orange-lighten-1-hover:hover {
  background-color: #ff7043;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-darken-1,
.deep-orange-darken-1-hover:hover {
  background-color: #f4511e;
  color: rgba(255, 255, 255, 0.87);
}
.deep-orange-darken-2,
.deep-orange-darken-2-hover:hover {
  background-color: #e64a19;
  color: rgba(255, 255, 255, 0.87);
}
.deep-orange-darken-3,
.deep-orange-darken-3-hover:hover {
  background-color: #d84315;
  color: rgba(255, 255, 255, 0.87);
}
.deep-orange-darken-4,
.deep-orange-darken-4-hover:hover {
  background-color: #bf360c;
  color: rgba(255, 255, 255, 0.87);
}
.deep-orange-accent-1,
.deep-orange-accent-1-hover:hover {
  background-color: #ff9e80;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-accent-2,
.deep-orange-accent-2-hover:hover {
  background-color: #ff6e40;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-accent-3,
.deep-orange-accent-3-hover:hover {
  background-color: #ff3d00;
  color: rgba(0, 0, 0, 0.87);
}
.deep-orange-accent-4,
.deep-orange-accent-4-hover:hover {
  background-color: #dd2c00;
  color: rgba(0, 0, 0, 0.87);
}
/*
=============================================================================================
# 3.17 Brown
---------------------------------------------------------------------------------------------
*/

.brown,
.brown-hover:hover {
  background-color: #795548;
  color: rgba(255, 255, 255, 0.87);
}
.brown-lighten-5,
.brown-lighten-5-hover:hover {
  background-color: #efebe9;
  color: rgba(0, 0, 0, 0.87);
}
.brown-lighten-4,
.brown-lighten-4-hover:hover {
  background-color: #d7ccc8;
  color: rgba(0, 0, 0, 0.87);
}
.brown-lighten-3,
.brown-lighten-3-hover:hover {
  background-color: #bcaaa4;
  color: rgba(0, 0, 0, 0.87);
}
.brown-lighten-2,
.brown-lighten-2-hover:hover {
  background-color: #a1887f;
  color: rgba(255, 255, 255, 0.87);
}
.brown-lighten-1,
.brown-lighten-1-hover:hover {
  background-color: #8d6e63;
  color: rgba(255, 255, 255, 0.87);
}
.brown-darken-1,
.brown-darken-1-hover:hover {
  background-color: #6d4c41;
  color: rgba(255, 255, 255, 0.87);
}
.brown-darken-2,
.brown-darken-2-hover:hover {
  background-color: #5d4037;
  color: rgba(255, 255, 255, 0.87);
}
.brown-darken-3,
.brown-darken-3-hover:hover {
  background-color: #4e342e;
  color: rgba(255, 255, 255, 0.87);
}
.brown-darken-4,
.brown-darken-4-hover:hover {
  background-color: #3e2723;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.18 Grey
---------------------------------------------------------------------------------------------
*/

.grey,
.grey-hover:hover {
  background-color: #9e9e9e;
  color: rgba(0, 0, 0, 0.87);
}
.grey-lighten-5,
.grey-lighten-5-hover:hover {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}
.grey-lighten-4,
.grey-lighten-4-hover:hover {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
}
.grey-lighten-3,
.grey-lighten-3-hover:hover {
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
}
.grey-lighten-2,
.grey-lighten-2-hover:hover {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}
.grey-lighten-1,
.grey-lighten-1-hover:hover {
  background-color: #bdbdbd;
  color: rgba(0, 0, 0, 0.87);
}
.grey-darken-1,
.grey-darken-1-hover:hover {
  background-color: #757575;
  color: rgba(255, 255, 255, 0.87);
}
.grey-darken-2,
.grey-darken-2-hover:hover {
  background-color: #616161;
  color: rgba(255, 255, 255, 0.87);
}
.grey-darken-3,
.grey-darken-3-hover:hover {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.87);
}
.grey-darken-4,
.grey-darken-4-hover:hover {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.19 Blue Grey
---------------------------------------------------------------------------------------------
*/

.blue-grey,
.blue-grey-hover:hover {
  background-color: #607d8b;
  color: rgba(255, 255, 255, 0.87);
}
.blue-grey-lighten-5,
.blue-grey-lighten-5-hover:hover {
  background-color: #eceff1;
  color: rgba(0, 0, 0, 0.87);
}
.blue-grey-lighten-4,
.blue-grey-lighten-4-hover:hover {
  background-color: #cfd8dc;
  color: rgba(0, 0, 0, 0.87);
}
.blue-grey-lighten-3,
.blue-grey-lighten-3-hover:hover {
  background-color: #b0bec5;
  color: rgba(0, 0, 0, 0.87);
}
.blue-grey-lighten-2,
.blue-grey-lighten-2-hover:hover {
  background-color: #90a4ae;
  color: rgba(0, 0, 0, 0.87);
}
.blue-grey-lighten-1,
.blue-grey-lighten-1-hover:hover {
  background-color: #78909c;
  color: rgba(255, 255, 255, 0.87);
}
.blue-grey-darken-1,
.blue-grey-darken-1-hover:hover {
  background-color: #546e7a;
  color: rgba(255, 255, 255, 0.87);
}
.blue-grey-darken-2,
.blue-grey-darken-2-hover:hover {
  background-color: #455a64;
  color: rgba(255, 255, 255, 0.87);
}
.blue-grey-darken-3,
.blue-grey-darken-3-hover:hover {
  background-color: #37474f;
  color: rgba(255, 255, 255, 0.87);
}
.blue-grey-darken-4,
.blue-grey-darken-4-hover:hover {
  background-color: #263238;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.20 Black
---------------------------------------------------------------------------------------------
*/

.black,
.black-hover:hover {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
}
/*
=============================================================================================
# 3.21 White
---------------------------------------------------------------------------------------------
*/

.white,
.white-hover:hover {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
/*
=================================================================================================
# 4 Border Colors
-------------------------------------------------------------------------------------------------
*/
/*
=============================================================================================
# 4.1 Red Border
---------------------------------------------------------------------------------------------
*/

.red-border,
.red-border-hover:hover {
  border-color: #f44336;
}
.red-lighten-5-border,
.red-lighten-5-border-hover:hover {
  border-color: #ffebee;
}
.red-lighten-4-border,
.red-lighten-4-border-hover:hover {
  border-color: #ffcdd2;
}
.red-lighten-3-border,
.red-lighten-3-border-hover:hover {
  border-color: #ef9a9a;
}
.red-lighten-2-border,
.red-lighten-2-border-hover:hover {
  border-color: #e57373;
}
.red-lighten-1-border,
.red-lighten-1-border-hover:hover {
  border-color: #ef5350;
}
.red-darken-1-border,
.red-darken-1-border-hover:hover {
  border-color: #e53935;
}
.red-darken-2-border,
.red-darken-2-border-hover:hover {
  border-color: #d32f2f;
}
.red-darken-3-border,
.red-darken-3-border-hover:hover {
  border-color: #c62828;
}
.red-darken-4-border,
.red-darken-4-border-hover:hover {
  border-color: #b71c1c;
}
.red-accent-1-border,
.red-accent-1-border-hover:hover {
  border-color: #ff8a80;
}
.red-accent-2-border,
.red-accent-2-border-hover:hover {
  border-color: #ff5252;
}
.red-accent-3-border,
.red-accent-3-border-hover:hover {
  border-color: #ff1744;
}
.red-accent-4-border,
.red-accent-4-border-hover:hover {
  border-color: #d50000;
}
/*
=============================================================================================
# 4.2 Pink Border
---------------------------------------------------------------------------------------------
*/

.pink-border,
.pink-border-hover:hover {
  border-color: #e91e63;
}
.pink-lighten-5-border,
.pink-lighten-5-border-hover:hover {
  border-color: #fce4ec;
}
.pink-lighten-4-border,
.pink-lighten-4-border-hover:hover {
  border-color: #f8bbd0;
}
.pink-lighten-3-border,
.pink-lighten-3-border-hover:hover {
  border-color: #f48fb1;
}
.pink-lighten-2-border,
.pink-lighten-2-border-hover:hover {
  border-color: #f06292;
}
.pink-lighten-1-border,
.pink-lighten-1-border-hover:hover {
  border-color: #ec407a;
}
.pink-darken-1-border,
.pink-darken-1-border-hover:hover {
  border-color: #d81b60;
}
.pink-darken-2-border,
.pink-darken-2-border-hover:hover {
  border-color: #c2185b;
}
.pink-darken-3-border,
.pink-darken-3-border-hover:hover {
  border-color: #ad1457;
}
.pink-darken-4-border,
.pink-darken-4-border-hover:hover {
  border-color: #880e4f;
}
.pink-accent-1-border,
.pink-accent-1-border-hover:hover {
  border-color: #ff80ab;
}
.pink-accent-2-border,
.pink-accent-2-border-hover:hover {
  border-color: #ff4081;
}
.pink-accent-3-border,
.pink-accent-3-border-hover:hover {
  border-color: #f50057;
}
.pink-accent-4-border,
.pink-accent-4-border-hover:hover {
  border-color: #c51162;
}
/*
=============================================================================================
# 4.3 Purple Border
---------------------------------------------------------------------------------------------
*/

.purple-border,
.purple-border-hover:hover {
  border-color: #9c27b0;
}
.purple-lighten-5-border,
.purple-lighten-5-border-hover:hover {
  border-color: #f3e5f5;
}
.purple-lighten-4-border,
.purple-lighten-4-border-hover:hover {
  border-color: #e1bee7;
}
.purple-lighten-3-border,
.purple-lighten-3-border-hover:hover {
  border-color: #ce93d8;
}
.purple-lighten-2-border,
.purple-lighten-2-border-hover:hover {
  border-color: #ba68c8;
}
.purple-lighten-1-border,
.purple-lighten-1-border-hover:hover {
  border-color: #ab47bc;
}
.purple-darken-1-border,
.purple-darken-1-border-hover:hover {
  border-color: #8e24aa;
}
.purple-darken-2-border,
.purple-darken-2-border-hover:hover {
  border-color: #7b1fa2;
}
.purple-darken-3-border,
.purple-darken-3-border-hover:hover {
  border-color: #6a1b9a;
}
.purple-darken-4-border,
.purple-darken-4-border-hover:hover {
  border-color: #4a148c;
}
.purple-accent-1-border,
.purple-accent-1-border-hover:hover {
  border-color: #ea80fc;
}
.purple-accent-2-border,
.purple-accent-2-border-hover:hover {
  border-color: #e040fb;
}
.purple-accent-3-border,
.purple-accent-3-border-hover:hover {
  border-color: #d500f9;
}
.purple-accent-4-border,
.purple-accent-4-border-hover:hover {
  border-color: #aa00ff;
}
/*
=============================================================================================
# 4.4 Deep Purple Border
---------------------------------------------------------------------------------------------
*/

.deep-purple-border,
.deep-purple-border-hover:hover {
  border-color: #673ab7;
}
.deep-purple-lighten-5-border,
.deep-purple-lighten-5-border-hover:hover {
  border-color: #ede7f6;
}
.deep-purple-lighten-4-border,
.deep-purple-lighten-4-border-hover:hover {
  border-color: #d1c4e9;
}
.deep-purple-lighten-3-border,
.deep-purple-lighten-3-border-hover:hover {
  border-color: #b39ddb;
}
.deep-purple-lighten-2-border,
.deep-purple-lighten-2-border-hover:hover {
  border-color: #9575cd;
}
.deep-purple-lighten-1-border,
.deep-purple-lighten-1-border-hover:hover {
  border-color: #7e57c2;
}
.deep-purple-darken-1-border,
.deep-purple-darken-1-border-hover:hover {
  border-color: #5e35b1;
}
.deep-purple-darken-2-border,
.deep-purple-darken-2-border-hover:hover {
  border-color: #512da8;
}
.deep-purple-darken-3-border,
.deep-purple-darken-3-border-hover:hover {
  border-color: #4527a0;
}
.deep-purple-darken-4-border,
.deep-purple-darken-4-border-hover:hover {
  border-color: #311b92;
}
.deep-purple-accent-1-border,
.deep-purple-accent-1-border-hover:hover {
  border-color: #b388ff;
}
.deep-purple-accent-2-border,
.deep-purple-accent-2-border-hover:hover {
  border-color: #7c4dff;
}
.deep-purple-accent-3-border,
.deep-purple-accent-3-border-hover:hover {
  border-color: #651fff;
}
.deep-purple-accent-4-border,
.deep-purple-accent-4-border-hover:hover {
  border-color: #6200ea;
}
/*
=============================================================================================
# 4.5 Indigo Border
---------------------------------------------------------------------------------------------
*/

.indigo-border,
.indigo-border-hover:hover {
  border-color: #3f51b5;
}
.indigo-lighten-5-border,
.indigo-lighten-5-border-hover:hover {
  border-color: #e8eaf6;
}
.indigo-lighten-4-border,
.indigo-lighten-4-border-hover:hover {
  border-color: #c5cae9;
}
.indigo-lighten-3-border,
.indigo-lighten-3-border-hover:hover {
  border-color: #9fa8da;
}
.indigo-lighten-2-border,
.indigo-lighten-2-border-hover:hover {
  border-color: #7986cb;
}
.indigo-lighten-1-border,
.indigo-lighten-1-border-hover:hover {
  border-color: #5c6bc0;
}
.indigo-darken-1-border,
.indigo-darken-1-border-hover:hover {
  border-color: #3949ab;
}
.indigo-darken-2-border,
.indigo-darken-2-border-hover:hover {
  border-color: #303f9f;
}
.indigo-darken-3-border,
.indigo-darken-3-border-hover:hover {
  border-color: #283593;
}
.indigo-darken-4-border,
.indigo-darken-4-border-hover:hover {
  border-color: #1a237e;
}
.indigo-accent-1-border,
.indigo-accent-1-border-hover:hover {
  border-color: #8c9eff;
}
.indigo-accent-2-border,
.indigo-accent-2-border-hover:hover {
  border-color: #536dfe;
}
.indigo-accent-3-border,
.indigo-accent-3-border-hover:hover {
  border-color: #3d5afe;
}
.indigo-accent-4-border,
.indigo-accent-4-border-hover:hover {
  border-color: #304ffe;
}
/*
=============================================================================================
# 4.6 Blue Border
---------------------------------------------------------------------------------------------
*/

.blue-border,
.blue-border-hover:hover {
  border-color: #2196f3;
}
.blue-lighten-5-border,
.blue-lighten-5-border-hover:hover {
  border-color: #e3f2fd;
}
.blue-lighten-4-border,
.blue-lighten-4-border-hover:hover {
  border-color: #bbdefb;
}
.blue-lighten-3-border,
.blue-lighten-3-border-hover:hover {
  border-color: #90caf9;
}
.blue-lighten-2-border,
.blue-lighten-2-border-hover:hover {
  border-color: #64b5f6;
}
.blue-lighten-1-border,
.blue-lighten-1-border-hover:hover {
  border-color: #42a5f5;
}
.blue-darken-1-border,
.blue-darken-1-border-hover:hover {
  border-color: #1e88e5;
}
.blue-darken-2-border,
.blue-darken-2-border-hover:hover {
  border-color: #1976d2;
}
.blue-darken-3-border,
.blue-darken-3-border-hover:hover {
  border-color: #1565c0;
}
.blue-darken-4-border,
.blue-darken-4-border-hover:hover {
  border-color: #0d47a1;
}
.blue-accent-1-border,
.blue-accent-1-border-hover:hover {
  border-color: #82b1ff;
}
.blue-accent-2-border,
.blue-accent-2-border-hover:hover {
  border-color: #448aff;
}
.blue-accent-3-border,
.blue-accent-3-border-hover:hover {
  border-color: #2979ff;
}
.blue-accent-4-border,
.blue-accent-4-border-hover:hover {
  border-color: #2962ff;
}
/*
=============================================================================================
# 4.7 Light Blue Border
---------------------------------------------------------------------------------------------
*/

.light-blue-border,
.light-blue-border-hover:hover {
  border-color: #03a9f4;
}
.light-blue-lighten-5-border,
.light-blue-lighten-5-border-hover:hover {
  border-color: #e1f5fe;
}
.light-blue-lighten-4-border,
.light-blue-lighten-4-border-hover:hover {
  border-color: #b3e5fc;
}
.light-blue-lighten-3-border,
.light-blue-lighten-3-border-hover:hover {
  border-color: #81d4fa;
}
.light-blue-lighten-2-border,
.light-blue-lighten-2-border-hover:hover {
  border-color: #4fc3f7;
}
.light-blue-lighten-1-border,
.light-blue-lighten-1-border-hover:hover {
  border-color: #29b6f6;
}
.light-blue-darken-1-border,
.light-blue-darken-1-border-hover:hover {
  border-color: #039be5;
}
.light-blue-darken-2-border,
.light-blue-darken-2-border-hover:hover {
  border-color: #0288d1;
}
.light-blue-darken-3-border,
.light-blue-darken-3-border-hover:hover {
  border-color: #0277bd;
}
.light-blue-darken-4-border,
.light-blue-darken-4-border-hover:hover {
  border-color: #01579b;
}
.light-blue-accent-1-border,
.light-blue-accent-1-border-hover:hover {
  border-color: #80d8ff;
}
.light-blue-accent-2-border,
.light-blue-accent-2-border-hover:hover {
  border-color: #40c4ff;
}
.light-blue-accent-3-border,
.light-blue-accent-3-border-hover:hover {
  border-color: #00b0ff;
}
.light-blue-accent-4-border,
.light-blue-accent-4-border-hover:hover {
  border-color: #0091ea;
}
/*
=============================================================================================
# 4.8 Cyan Border
---------------------------------------------------------------------------------------------
*/

.cyan-border,
.cyan-border-hover:hover {
  border-color: #00bcd4;
}
.cyan-lighten-5-border,
.cyan-lighten-5-border-hover:hover {
  border-color: #e0f7fa;
}
.cyan-lighten-4-border,
.cyan-lighten-4-border-hover:hover {
  border-color: #b2ebf2;
}
.cyan-lighten-3-border,
.cyan-lighten-3-border-hover:hover {
  border-color: #80deea;
}
.cyan-lighten-2-border,
.cyan-lighten-2-border-hover:hover {
  border-color: #4dd0e1;
}
.cyan-lighten-1-border,
.cyan-lighten-1-border-hover:hover {
  border-color: #26c6da;
}
.cyan-darken-1-border,
.cyan-darken-1-border-hover:hover {
  border-color: #00acc1;
}
.cyan-darken-2-border,
.cyan-darken-2-border-hover:hover {
  border-color: #0097a7;
}
.cyan-darken-3-border,
.cyan-darken-3-border-hover:hover {
  border-color: #00838f;
}
.cyan-darken-4-border,
.cyan-darken-4-border-hover:hover {
  border-color: #006064;
}
.cyan-accent-1-border,
.cyan-accent-1-border-hover:hover {
  border-color: #84ffff;
}
.cyan-accent-2-border,
.cyan-accent-2-border-hover:hover {
  border-color: #18ffff;
}
.cyan-accent-3-border,
.cyan-accent-3-border-hover:hover {
  border-color: #00e5ff;
}
.cyan-accent-4-border,
.cyan-accent-4-border-hover:hover {
  border-color: #00b8d4;
}
/*
=============================================================================================
# 4.9 Teal Border
---------------------------------------------------------------------------------------------
*/

.teal-border,
.teal-border-hover:hover {
  border-color: #009688;
}
.teal-lighten-5-border,
.teal-lighten-5-border-hover:hover {
  border-color: #e0f2f1;
}
.teal-lighten-4-border,
.teal-lighten-4-border-hover:hover {
  border-color: #b2dfdb;
}
.teal-lighten-3-border,
.teal-lighten-3-border-hover:hover {
  border-color: #80cbc4;
}
.teal-lighten-2-border,
.teal-lighten-2-border-hover:hover {
  border-color: #4db6ac;
}
.teal-lighten-1-border,
.teal-lighten-1-border-hover:hover {
  border-color: #26a69a;
}
.teal-darken-1-border,
.teal-darken-1-border-hover:hover {
  border-color: #00897b;
}
.teal-darken-2-border,
.teal-darken-2-border-hover:hover {
  border-color: #00796b;
}
.teal-darken-3-border,
.teal-darken-3-border-hover:hover {
  border-color: #00695c;
}
.teal-darken-4-border,
.teal-darken-4-border-hover:hover {
  border-color: #004d40;
}
.teal-accent-1-border,
.teal-accent-1-border-hover:hover {
  border-color: #a7ffeb;
}
.teal-accent-2-border,
.teal-accent-2-border-hover:hover {
  border-color: #64ffda;
}
.teal-accent-3-border,
.teal-accent-3-border-hover:hover {
  border-color: #1de9b6;
}
.teal-accent-4-border,
.teal-accent-4-border-hover:hover {
  border-color: #00bfa5;
}
/*
=============================================================================================
# 4.10 Green Border
---------------------------------------------------------------------------------------------
*/

.green-border,
.green-border-hover:hover {
  border-color: #4caf50;
}
.green-lighten-5-border,
.green-lighten-5-border-hover:hover {
  border-color: #e8f5e9;
}
.green-lighten-4-border,
.green-lighten-4-border-hover:hover {
  border-color: #c8e6c9;
}
.green-lighten-3-border,
.green-lighten-3-border-hover:hover {
  border-color: #a5d6a7;
}
.green-lighten-2-border,
.green-lighten-2-border-hover:hover {
  border-color: #81c784;
}
.green-lighten-1-border,
.green-lighten-1-border-hover:hover {
  border-color: #66bb6a;
}
.green-darken-1-border,
.green-darken-1-border-hover:hover {
  border-color: #43a047;
}
.green-darken-2-border,
.green-darken-2-border-hover:hover {
  border-color: #388e3c;
}
.green-darken-3-border,
.green-darken-3-border-hover:hover {
  border-color: #2e7d32;
}
.green-darken-4-border,
.green-darken-4-border-hover:hover {
  border-color: #1b5e20;
}
.green-accent-1-border,
.green-accent-1-border-hover:hover {
  border-color: #b9f6ca;
}
.green-accent-2-border,
.green-accent-2-border-hover:hover {
  border-color: #69f0ae;
}
.green-accent-3-border,
.green-accent-3-border-hover:hover {
  border-color: #00e676;
}
.green-accent-4-border,
.green-accent-4-border-hover:hover {
  border-color: #00c853;
}
/*
=============================================================================================
# 4.11 Light Green Border
---------------------------------------------------------------------------------------------
*/

.light-green-border,
.light-green-border-hover:hover {
  border-color: #8bc34a;
}
.light-green-lighten-5-border,
.light-green-lighten-5-border-hover:hover {
  border-color: #f1f8e9;
}
.light-green-lighten-4-border,
.light-green-lighten-4-border-hover:hover {
  border-color: #dcedc8;
}
.light-green-lighten-3-border,
.light-green-lighten-3-border-hover:hover {
  border-color: #c5e1a5;
}
.light-green-lighten-2-border,
.light-green-lighten-2-border-hover:hover {
  border-color: #aed581;
}
.light-green-lighten-1-border,
.light-green-lighten-1-border-hover:hover {
  border-color: #9ccc65;
}
.light-green-darken-1-border,
.light-green-darken-1-border-hover:hover {
  border-color: #7cb342;
}
.light-green-darken-2-border,
.light-green-darken-2-border-hover:hover {
  border-color: #689f38;
}
.light-green-darken-3-border,
.light-green-darken-3-border-hover:hover {
  border-color: #558b2f;
}
.light-green-darken-4-border,
.light-green-darken-4-border-hover:hover {
  border-color: #33691e;
}
.light-green-accent-1-border,
.light-green-accent-1-border-hover:hover {
  border-color: #ccff90;
}
.light-green-accent-2-border,
.light-green-accent-2-border-hover:hover {
  border-color: #b2ff59;
}
.light-green-accent-3-border,
.light-green-accent-3-border-hover:hover {
  border-color: #76ff03;
}
.light-green-accent-4-border,
.light-green-accent-4-border-hover:hover {
  border-color: #64dd17;
}
/*
=============================================================================================
# 4.12 Lime Border
---------------------------------------------------------------------------------------------
*/

.lime-border,
.lime-border-hover:hover {
  border-color: #cddc39;
}
.lime-lighten-5-border,
.lime-lighten-5-border-hover:hover {
  border-color: #f9fbe7;
}
.lime-lighten-4-border,
.lime-lighten-4-border-hover:hover {
  border-color: #f0f4c3;
}
.lime-lighten-3-border,
.lime-lighten-3-border-hover:hover {
  border-color: #e6ee9c;
}
.lime-lighten-2-border,
.lime-lighten-2-border-hover:hover {
  border-color: #dce775;
}
.lime-lighten-1-border,
.lime-lighten-1-border-hover:hover {
  border-color: #d4e157;
}
.lime-darken-1-border,
.lime-darken-1-border-hover:hover {
  border-color: #c0ca33;
}
.lime-darken-2-border,
.lime-darken-2-border-hover:hover {
  border-color: #afb42b;
}
.lime-darken-3-border,
.lime-darken-3-border-hover:hover {
  border-color: #9e9d24;
}
.lime-darken-4-border,
.lime-darken-4-border-hover:hover {
  border-color: #827717;
}
.lime-accent-1-border,
.lime-accent-1-border-hover:hover {
  border-color: #f4ff81;
}
.lime-accent-2-border,
.lime-accent-2-border-hover:hover {
  border-color: #eeff41;
}
.lime-accent-3-border,
.lime-accent-3-border-hover:hover {
  border-color: #c6ff00;
}
.lime-accent-4-border,
.lime-accent-4-border-hover:hover {
  border-color: #aeea00;
}
/*
=============================================================================================
# 4.13 Yellow Border
---------------------------------------------------------------------------------------------
*/

.yellow-border,
.yellow-border-hover:hover {
  border-color: #ffeb3b;
}
.yellow-lighten-5-border,
.yellow-lighten-5-border-hover:hover {
  border-color: #fffde7;
}
.yellow-lighten-4-border,
.yellow-lighten-4-border-hover:hover {
  border-color: #fff9c4;
}
.yellow-lighten-3-border,
.yellow-lighten-3-border-hover:hover {
  border-color: #fff59d;
}
.yellow-lighten-2-border,
.yellow-lighten-2-border-hover:hover {
  border-color: #fff176;
}
.yellow-lighten-1-border,
.yellow-lighten-1-border-hover:hover {
  border-color: #ffee58;
}
.yellow-darken-1-border,
.yellow-darken-1-border-hover:hover {
  border-color: #fdd835;
}
.yellow-darken-2-border,
.yellow-darken-2-border-hover:hover {
  border-color: #fbc02d;
}
.yellow-darken-3-border,
.yellow-darken-3-border-hover:hover {
  border-color: #f9a825;
}
.yellow-darken-4-border,
.yellow-darken-4-border-hover:hover {
  border-color: #f57f17;
}
.yellow-accent-1-border,
.yellow-accent-1-border-hover:hover {
  border-color: #ffff8d;
}
.yellow-accent-2-border,
.yellow-accent-2-border-hover:hover {
  border-color: #ffff00;
}
.yellow-accent-3-border,
.yellow-accent-3-border-hover:hover {
  border-color: #ffea00;
}
.yellow-accent-4-border,
.yellow-accent-4-border-hover:hover {
  border-color: #ffd600;
}
/*
=============================================================================================
# 4.14 Amber Border
---------------------------------------------------------------------------------------------
*/

.amber-border,
.amber-border-hover:hover {
  border-color: #ffc107;
}
.amber-lighten-5-border,
.amber-lighten-5-border-hover:hover {
  border-color: #fff8e1;
}
.amber-lighten-4-border,
.amber-lighten-4-border-hover:hover {
  border-color: #ffecb3;
}
.amber-lighten-3-border,
.amber-lighten-3-border-hover:hover {
  border-color: #ffe082;
}
.amber-lighten-2-border,
.amber-lighten-2-border-hover:hover {
  border-color: #ffd54f;
}
.amber-lighten-1-border,
.amber-lighten-1-border-hover:hover {
  border-color: #ffca28;
}
.amber-darken-1-border,
.amber-darken-1-border-hover:hover {
  border-color: #ffb300;
}
.amber-darken-2-border,
.amber-darken-2-border-hover:hover {
  border-color: #ffa000;
}
.amber-darken-3-border,
.amber-darken-3-border-hover:hover {
  border-color: #ff8f00;
}
.amber-darken-4-border,
.amber-darken-4-border-hover:hover {
  border-color: #ff6f00;
}
.amber-accent-1-border,
.amber-accent-1-border-hover:hover {
  border-color: #ffe57f;
}
.amber-accent-2-border,
.amber-accent-2-border-hover:hover {
  border-color: #ffd740;
}
.amber-accent-3-border,
.amber-accent-3-border-hover:hover {
  border-color: #ffc400;
}
.amber-accent-4-border,
.amber-accent-4-border-hover:hover {
  border-color: #ffab00;
}
/*
=============================================================================================
# 4.15 Orange Border
---------------------------------------------------------------------------------------------
*/

.orange-border,
.orange-border-hover:hover {
  border-color: #ff9800;
}
.orange-lighten-5-border,
.orange-lighten-5-border-hover:hover {
  border-color: #fff3e0;
}
.orange-lighten-4-border,
.orange-lighten-4-border-hover:hover {
  border-color: #ffe0b2;
}
.orange-lighten-3-border,
.orange-lighten-3-border-hover:hover {
  border-color: #ffcc80;
}
.orange-lighten-2-border,
.orange-lighten-2-border-hover:hover {
  border-color: #ffb74d;
}
.orange-lighten-1-border,
.orange-lighten-1-border-hover:hover {
  border-color: #ffa726;
}
.orange-darken-1-border,
.orange-darken-1-border-hover:hover {
  border-color: #fb8c00;
}
.orange-darken-2-border,
.orange-darken-2-border-hover:hover {
  border-color: #f57c00;
}
.orange-darken-3-border,
.orange-darken-3-border-hover:hover {
  border-color: #ef6c00;
}
.orange-darken-4-border,
.orange-darken-4-border-hover:hover {
  border-color: #e65100;
}
.orange-accent-1-border,
.orange-accent-1-border-hover:hover {
  border-color: #ffd180;
}
.orange-accent-2-border,
.orange-accent-2-border-hover:hover {
  border-color: #ffab40;
}
.orange-accent-3-border,
.orange-accent-3-border-hover:hover {
  border-color: #ff9100;
}
.orange-accent-4-border,
.orange-accent-4-border-hover:hover {
  border-color: #ff6d00;
}
/*
=============================================================================================
# 4.16 Deep Orange Border
---------------------------------------------------------------------------------------------
*/

.deep-orange-border,
.deep-orange-border-hover:hover {
  border-color: #ff5722;
}
.deep-orange-lighten-5-border,
.deep-orange-lighten-5-border-hover:hover {
  border-color: #fbe9e7;
}
.deep-orange-lighten-4-border,
.deep-orange-lighten-4-border-hover:hover {
  border-color: #ffccbc;
}
.deep-orange-lighten-3-border,
.deep-orange-lighten-3-border-hover:hover {
  border-color: #ffab91;
}
.deep-orange-lighten-2-border,
.deep-orange-lighten-2-border-hover:hover {
  border-color: #ff8a65;
}
.deep-orange-lighten-1-border,
.deep-orange-lighten-1-border-hover:hover {
  border-color: #ff7043;
}
.deep-orange-darken-1-border,
.deep-orange-darken-1-border-hover:hover {
  border-color: #f4511e;
}
.deep-orange-darken-2-border,
.deep-orange-darken-2-border-hover:hover {
  border-color: #e64a19;
}
.deep-orange-darken-3-border,
.deep-orange-darken-3-border-hover:hover {
  border-color: #d84315;
}
.deep-orange-darken-4-border,
.deep-orange-darken-4-border-hover:hover {
  border-color: #bf360c;
}
.deep-orange-accent-1-border,
.deep-orange-accent-1-border-hover:hover {
  border-color: #ff9e80;
}
.deep-orange-accent-2-border,
.deep-orange-accent-2-border-hover:hover {
  border-color: #ff6e40;
}
.deep-orange-accent-3-border,
.deep-orange-accent-3-border-hover:hover {
  border-color: #ff3d00;
}
.deep-orange-accent-4-border,
.deep-orange-accent-4-border-hover:hover {
  border-color: #dd2c00;
}
/*
=============================================================================================
# 4.17 Brown Border
---------------------------------------------------------------------------------------------
*/

.brown-border,
.brown-border-hover:hover {
  border-color: #795548;
}
.brown-lighten-5-border,
.brown-lighten-5-border-hover:hover {
  border-color: #efebe9;
}
.brown-lighten-4-border,
.brown-lighten-4-border-hover:hover {
  border-color: #d7ccc8;
}
.brown-lighten-3-border,
.brown-lighten-3-border-hover:hover {
  border-color: #bcaaa4;
}
.brown-lighten-2-border,
.brown-lighten-2-border-hover:hover {
  border-color: #a1887f;
}
.brown-lighten-1-border,
.brown-lighten-1-border-hover:hover {
  border-color: #8d6e63;
}
.brown-darken-1-border,
.brown-darken-1-border-hover:hover {
  border-color: #6d4c41;
}
.brown-darken-2-border,
.brown-darken-2-border-hover:hover {
  border-color: #5d4037;
}
.brown-darken-3-border,
.brown-darken-3-border-hover:hover {
  border-color: #4e342e;
}
.brown-darken-4-border,
.brown-darken-4-border-hover:hover {
  border-color: #3e2723;
}
/*
=============================================================================================
# 4.18 Grey Border
---------------------------------------------------------------------------------------------
*/

.grey-border,
.grey-border-hover:hover {
  border-color: #9e9e9e;
}
.grey-lighten-5-border,
.grey-lighten-5-border-hover:hover {
  border-color: #fafafa;
}
.grey-lighten-4-border,
.grey-lighten-4-border-hover:hover {
  border-color: #f5f5f5;
}
.grey-lighten-3-border,
.grey-lighten-3-border-hover:hover {
  border-color: #eeeeee;
}
.grey-lighten-2-border,
.grey-lighten-2-border-hover:hover {
  border-color: #e0e0e0;
}
.grey-lighten-1-border,
.grey-lighten-1-border-hover:hover {
  border-color: #bdbdbd;
}
.grey-darken-1-border,
.grey-darken-1-border-hover:hover {
  border-color: #757575;
}
.grey-darken-2-border,
.grey-darken-2-border-hover:hover {
  border-color: #616161;
}
.grey-darken-3-border,
.grey-darken-3-border-hover:hover {
  border-color: #424242;
}
.grey-darken-4-border,
.grey-darken-4-border-hover:hover {
  border-color: #212121;
}
/*
=============================================================================================
# 4.19 Blue-Grey Border
---------------------------------------------------------------------------------------------
*/

.blue-grey-border,
.blue-grey-border-hover:hover {
  border-color: #607d8b;
}
.blue-grey-lighten-5-border,
.blue-grey-lighten-5-border-hover:hover {
  border-color: #eceff1;
}
.blue-grey-lighten-4-border,
.blue-grey-lighten-4-border-hover:hover {
  border-color: #cfd8dc;
}
.blue-grey-lighten-3-border,
.blue-grey-lighten-3-border-hover:hover {
  border-color: #b0bec5;
}
.blue-grey-lighten-2-border,
.blue-grey-lighten-2-border-hover:hover {
  border-color: #90a4ae;
}
.blue-grey-lighten-1-border,
.blue-grey-lighten-1-border-hover:hover {
  border-color: #78909c;
}
.blue-grey-darken-1-border,
.blue-grey-darken-1-border-hover:hover {
  border-color: #546e7a;
}
.blue-grey-darken-2-border,
.blue-grey-darken-2-border-hover:hover {
  border-color: #455a64;
}
.blue-grey-darken-3-border,
.blue-grey-darken-3-border-hover:hover {
  border-color: #37474f;
}
.blue-grey-darken-4-border,
.blue-grey-darken-4-border-hover:hover {
  border-color: #263238;
}
/*
=============================================================================================
# 4.20 Black Border
---------------------------------------------------------------------------------------------
*/

.black-border,
.black-border-hover:hover {
  border-color: #000000;
}
/*
=============================================================================================
# 4.21 White Border
---------------------------------------------------------------------------------------------
*/

.white-border,
.white-border-hover:hover {
  border-color: #ffffff;
}
/*
=================================================================================================
# 5 Text Colors
-------------------------------------------------------------------------------------------------
*/
/*
=============================================================================================
# 5.1 Red Text
---------------------------------------------------------------------------------------------
*/

.red-text,
.red-text-hover:hover {
  color: #f44336;
}
.red-lighten-5-text,
.red-lighten-5-text-hover:hover {
  color: #ffebee;
}
.red-lighten-4-text,
.red-lighten-4-text-hover:hover {
  color: #ffcdd2;
}
.red-lighten-3-text,
.red-lighten-3-text-hover:hover {
  color: #ef9a9a;
}
.red-lighten-2-text,
.red-lighten-2-text-hover:hover {
  color: #e57373;
}
.red-lighten-1-text,
.red-lighten-1-text-hover:hover {
  color: #ef5350;
}
.red-darken-1-text,
.red-darken-1-text-hover:hover {
  color: #e53935;
}
.red-darken-2-text,
.red-darken-2-text-hover:hover {
  color: #d32f2f;
}
.red-darken-3-text,
.red-darken-3-text-hover:hover {
  color: #c62828;
}
.red-darken-4-text,
.red-darken-4-text-hover:hover {
  color: #b71c1c;
}
.red-accent-1-text,
.red-accent-1-text-hover:hover {
  color: #ff8a80;
}
.red-accent-2-text,
.red-accent-2-text-hover:hover {
  color: #ff5252;
}
.red-accent-3-text,
.red-accent-3-text-hover:hover {
  color: #ff1744;
}
.red-accent-4-text,
.red-accent-4-text-hover:hover {
  color: #d50000;
}
/*
=============================================================================================
# 5.2 Pink Text
---------------------------------------------------------------------------------------------
*/

.pink-text,
.pink-text-hover:hover {
  color: #e91e63;
}
.pink-lighten-5-text,
.pink-lighten-5-text-hover:hover {
  color: #fce4ec;
}
.pink-lighten-4-text,
.pink-lighten-4-text-hover:hover {
  color: #f8bbd0;
}
.pink-lighten-3-text,
.pink-lighten-3-text-hover:hover {
  color: #f48fb1;
}
.pink-lighten-2-text,
.pink-lighten-2-text-hover:hover {
  color: #f06292;
}
.pink-lighten-1-text,
.pink-lighten-1-text-hover:hover {
  color: #ec407a;
}
.pink-darken-1-text,
.pink-darken-1-text-hover:hover {
  color: #d81b60;
}
.pink-darken-2-text,
.pink-darken-2-text-hover:hover {
  color: #c2185b;
}
.pink-darken-3-text,
.pink-darken-3-text-hover:hover {
  color: #ad1457;
}
.pink-darken-4-text,
.pink-darken-4-text-hover:hover {
  color: #880e4f;
}
.pink-accent-1-text,
.pink-accent-1-text-hover:hover {
  color: #ff80ab;
}
.pink-accent-2-text,
.pink-accent-2-text-hover:hover {
  color: #ff4081;
}
.pink-accent-3-text,
.pink-accent-3-text-hover:hover {
  color: #f50057;
}
.pink-accent-4-text,
.pink-accent-4-text-hover:hover {
  color: #c51162;
}
/*
=============================================================================================
# 5.3 Purple Text
---------------------------------------------------------------------------------------------
*/

.purple-text,
.purple-text-hover:hover {
  color: #9c27b0;
}
.purple-lighten-5-text,
.purple-lighten-5-text-hover:hover {
  color: #f3e5f5;
}
.purple-lighten-4-text,
.purple-lighten-4-text-hover:hover {
  color: #e1bee7;
}
.purple-lighten-3-text,
.purple-lighten-3-text-hover:hover {
  color: #ce93d8;
}
.purple-lighten-2-text,
.purple-lighten-2-text-hover:hover {
  color: #ba68c8;
}
.purple-lighten-1-text,
.purple-lighten-1-text-hover:hover {
  color: #ab47bc;
}
.purple-darken-1-text,
.purple-darken-1-text-hover:hover {
  color: #8e24aa;
}
.purple-darken-2-text,
.purple-darken-2-text-hover:hover {
  color: #7b1fa2;
}
.purple-darken-3-text,
.purple-darken-3-text-hover:hover {
  color: #6a1b9a;
}
.purple-darken-4-text,
.purple-darken-4-text-hover:hover {
  color: #4a148c;
}
.purple-accent-1-text,
.purple-accent-1-text-hover:hover {
  color: #ea80fc;
}
.purple-accent-2-text,
.purple-accent-2-text-hover:hover {
  color: #e040fb;
}
.purple-accent-3-text,
.purple-accent-3-text-hover:hover {
  color: #d500f9;
}
.purple-accent-4-text,
.purple-accent-4-text-hover:hover {
  color: #aa00ff;
}
/*
=============================================================================================
# 5.4 Deep Purple Text
---------------------------------------------------------------------------------------------
*/

.deep-purple-text,
.deep-purple-text-hover:hover {
  color: #673ab7;
}
.deep-purple-lighten-5-text,
.deep-purple-lighten-5-text-hover:hover {
  color: #ede7f6;
}
.deep-purple-lighten-4-text,
.deep-purple-lighten-4-text-hover:hover {
  color: #d1c4e9;
}
.deep-purple-lighten-3-text,
.deep-purple-lighten-3-text-hover:hover {
  color: #b39ddb;
}
.deep-purple-lighten-2-text,
.deep-purple-lighten-2-text-hover:hover {
  color: #9575cd;
}
.deep-purple-lighten-1-text,
.deep-purple-lighten-1-text-hover:hover {
  color: #7e57c2;
}
.deep-purple-darken-1-text,
.deep-purple-darken-1-text-hover:hover {
  color: #5e35b1;
}
.deep-purple-darken-2-text,
.deep-purple-darken-2-text-hover:hover {
  color: #512da8;
}
.deep-purple-darken-3-text,
.deep-purple-darken-3-text-hover:hover {
  color: #4527a0;
}
.deep-purple-darken-4-text,
.deep-purple-darken-4-text-hover:hover {
  color: #311b92;
}
.deep-purple-accent-1-text,
.deep-purple-accent-1-text-hover:hover {
  color: #b388ff;
}
.deep-purple-accent-2-text,
.deep-purple-accent-2-text-hover:hover {
  color: #7c4dff;
}
.deep-purple-accent-3-text,
.deep-purple-accent-3-text-hover:hover {
  color: #651fff;
}
.deep-purple-accent-4-text,
.deep-purple-accent-4-text-hover:hover {
  color: #6200ea;
}
/*
=============================================================================================
# 5.5 Indigo Text
---------------------------------------------------------------------------------------------
*/

.indigo-text,
.indigo-text-hover:hover {
  color: #3f51b5;
}
.indigo-lighten-5-text,
.indigo-lighten-5-text-hover:hover {
  color: #e8eaf6;
}
.indigo-lighten-4-text,
.indigo-lighten-4-text-hover:hover {
  color: #c5cae9;
}
.indigo-lighten-3-text,
.indigo-lighten-3-text-hover:hover {
  color: #9fa8da;
}
.indigo-lighten-2-text,
.indigo-lighten-2-text-hover:hover {
  color: #7986cb;
}
.indigo-lighten-1-text,
.indigo-lighten-1-text-hover:hover {
  color: #5c6bc0;
}
.indigo-darken-1-text,
.indigo-darken-1-text-hover:hover {
  color: #3949ab;
}
.indigo-darken-2-text,
.indigo-darken-2-text-hover:hover {
  color: #303f9f;
}
.indigo-darken-3-text,
.indigo-darken-3-text-hover:hover {
  color: #283593;
}
.indigo-darken-4-text,
.indigo-darken-4-text-hover:hover {
  color: #1a237e;
}
.indigo-accent-1-text,
.indigo-accent-1-text-hover:hover {
  color: #8c9eff;
}
.indigo-accent-2-text,
.indigo-accent-2-text-hover:hover {
  color: #536dfe;
}
.indigo-accent-3-text,
.indigo-accent-3-text-hover:hover {
  color: #3d5afe;
}
.indigo-accent-4-text,
.indigo-accent-4-text-hover:hover {
  color: #304ffe;
}
/*
=============================================================================================
# 5.6 Blue Text
---------------------------------------------------------------------------------------------
*/

.blue-text,
.blue-text-hover:hover {
  color: #2196f3;
}
.blue-lighten-5-text,
.blue-lighten-5-text-hover:hover {
  color: #e3f2fd;
}
.blue-lighten-4-text,
.blue-lighten-4-text-hover:hover {
  color: #bbdefb;
}
.blue-lighten-3-text,
.blue-lighten-3-text-hover:hover {
  color: #90caf9;
}
.blue-lighten-2-text,
.blue-lighten-2-text-hover:hover {
  color: #64b5f6;
}
.blue-lighten-1-text,
.blue-lighten-1-text-hover:hover {
  color: #42a5f5;
}
.blue-darken-1-text,
.blue-darken-1-text-hover:hover {
  color: #1e88e5;
}
.blue-darken-2-text,
.blue-darken-2-text-hover:hover {
  color: #1976d2;
}
.blue-darken-3-text,
.blue-darken-3-text-hover:hover {
  color: #1565c0;
}
.blue-darken-4-text,
.blue-darken-4-text-hover:hover {
  color: #0d47a1;
}
.blue-accent-1-text,
.blue-accent-1-text-hover:hover {
  color: #82b1ff;
}
.blue-accent-2-text,
.blue-accent-2-text-hover:hover {
  color: #448aff;
}
.blue-accent-3-text,
.blue-accent-3-text-hover:hover {
  color: #2979ff;
}
.blue-accent-4-text,
.blue-accent-4-text-hover:hover {
  color: #2962ff;
}
/*
=============================================================================================
# 5.7 Light Blue Text
---------------------------------------------------------------------------------------------
*/

.light-blue-text,
.light-blue-text-hover:hover {
  color: #03a9f4;
}
.light-blue-lighten-5-text,
.light-blue-lighten-5-text-hover:hover {
  color: #e1f5fe;
}
.light-blue-lighten-4-text,
.light-blue-lighten-4-text-hover:hover {
  color: #b3e5fc;
}
.light-blue-lighten-3-text,
.light-blue-lighten-3-text-hover:hover {
  color: #81d4fa;
}
.light-blue-lighten-2-text,
.light-blue-lighten-2-text-hover:hover {
  color: #4fc3f7;
}
.light-blue-lighten-1-text,
.light-blue-lighten-1-text-hover:hover {
  color: #29b6f6;
}
.light-blue-darken-1-text,
.light-blue-darken-1-text-hover:hover {
  color: #039be5;
}
.light-blue-darken-2-text,
.light-blue-darken-2-text-hover:hover {
  color: #0288d1;
}
.light-blue-darken-3-text,
.light-blue-darken-3-text-hover:hover {
  color: #0277bd;
}
.light-blue-darken-4-text,
.light-blue-darken-4-text-hover:hover {
  color: #01579b;
}
.light-blue-accent-1-text,
.light-blue-accent-1-text-hover:hover {
  color: #80d8ff;
}
.light-blue-accent-2-text,
.light-blue-accent-2-text-hover:hover {
  color: #40c4ff;
}
.light-blue-accent-3-text,
.light-blue-accent-3-text-hover:hover {
  color: #00b0ff;
}
.light-blue-accent-4-text,
.light-blue-accent-4-text-hover:hover {
  color: #0091ea;
}
/*
=============================================================================================
# 5.8 Cyan Text
---------------------------------------------------------------------------------------------
*/

.cyan-text,
.cyan-text-hover:hover {
  color: #00bcd4;
}
.cyan-lighten-5-text,
.cyan-lighten-5-text-hover:hover {
  color: #e0f7fa;
}
.cyan-lighten-4-text,
.cyan-lighten-4-text-hover:hover {
  color: #b2ebf2;
}
.cyan-lighten-3-text,
.cyan-lighten-3-text-hover:hover {
  color: #80deea;
}
.cyan-lighten-2-text,
.cyan-lighten-2-text-hover:hover {
  color: #4dd0e1;
}
.cyan-lighten-1-text,
.cyan-lighten-1-text-hover:hover {
  color: #26c6da;
}
.cyan-darken-1-text,
.cyan-darken-1-text-hover:hover {
  color: #00acc1;
}
.cyan-darken-2-text,
.cyan-darken-2-text-hover:hover {
  color: #0097a7;
}
.cyan-darken-3-text,
.cyan-darken-3-text-hover:hover {
  color: #00838f;
}
.cyan-darken-4-text,
.cyan-darken-4-text-hover:hover {
  color: #006064;
}
.cyan-accent-1-text,
.cyan-accent-1-text-hover:hover {
  color: #84ffff;
}
.cyan-accent-2-text,
.cyan-accent-2-text-hover:hover {
  color: #18ffff;
}
.cyan-accent-3-text,
.cyan-accent-3-text-hover:hover {
  color: #00e5ff;
}
.cyan-accent-4-text,
.cyan-accent-4-text-hover:hover {
  color: #00b8d4;
}
/*
=============================================================================================
# 5.9 Teal Text
---------------------------------------------------------------------------------------------
*/

.teal-text,
.teal-text-hover:hover {
  color: #009688;
}
.teal-lighten-5-text,
.teal-lighten-5-text-hover:hover {
  color: #e0f2f1;
}
.teal-lighten-4-text,
.teal-lighten-4-text-hover:hover {
  color: #b2dfdb;
}
.teal-lighten-3-text,
.teal-lighten-3-text-hover:hover {
  color: #80cbc4;
}
.teal-lighten-2-text,
.teal-lighten-2-text-hover:hover {
  color: #4db6ac;
}
.teal-lighten-1-text,
.teal-lighten-1-text-hover:hover {
  color: #26a69a;
}
.teal-darken-1-text,
.teal-darken-1-text-hover:hover {
  color: #00897b;
}
.teal-darken-2-text,
.teal-darken-2-text-hover:hover {
  color: #00796b;
}
.teal-darken-3-text,
.teal-darken-3-text-hover:hover {
  color: #00695c;
}
.teal-darken-4-text,
.teal-darken-4-text-hover:hover {
  color: #004d40;
}
.teal-accent-1-text,
.teal-accent-1-text-hover:hover {
  color: #a7ffeb;
}
.teal-accent-2-text,
.teal-accent-2-text-hover:hover {
  color: #64ffda;
}
.teal-accent-3-text,
.teal-accent-3-text-hover:hover {
  color: #1de9b6;
}
.teal-accent-4-text,
.teal-accent-4-text-hover:hover {
  color: #00bfa5;
}
/*
=============================================================================================
# 5.10 Green Text
---------------------------------------------------------------------------------------------
*/

.green-text,
.green-text-hover:hover {
  color: #4caf50;
}
.green-lighten-5-text,
.green-lighten-5-text-hover:hover {
  color: #e8f5e9;
}
.green-lighten-4-text,
.green-lighten-4-text-hover:hover {
  color: #c8e6c9;
}
.green-lighten-3-text,
.green-lighten-3-text-hover:hover {
  color: #a5d6a7;
}
.green-lighten-2-text,
.green-lighten-2-text-hover:hover {
  color: #81c784;
}
.green-lighten-1-text,
.green-lighten-1-text-hover:hover {
  color: #66bb6a;
}
.green-darken-1-text,
.green-darken-1-text-hover:hover {
  color: #43a047;
}
.green-darken-2-text,
.green-darken-2-text-hover:hover {
  color: #388e3c;
}
.green-darken-3-text,
.green-darken-3-text-hover:hover {
  color: #2e7d32;
}
.green-darken-4-text,
.green-darken-4-text-hover:hover {
  color: #1b5e20;
}
.green-accent-1-text,
.green-accent-1-text-hover:hover {
  color: #b9f6ca;
}
.green-accent-2-text,
.green-accent-2-text-hover:hover {
  color: #69f0ae;
}
.green-accent-3-text,
.green-accent-3-text-hover:hover {
  color: #00e676;
}
.green-accent-4-text,
.green-accent-4-text-hover:hover {
  color: #00c853;
}
/*
=============================================================================================
# 5.11 Light Green Text
---------------------------------------------------------------------------------------------
*/

.light-green-text,
.light-green-text-hover:hover {
  color: #8bc34a;
}
.light-green-lighten-5-text,
.light-green-lighten-5-text-hover:hover {
  color: #f1f8e9;
}
.light-green-lighten-4-text,
.light-green-lighten-4-text-hover:hover {
  color: #dcedc8;
}
.light-green-lighten-3-text,
.light-green-lighten-3-text-hover:hover {
  color: #c5e1a5;
}
.light-green-lighten-2-text,
.light-green-lighten-2-text-hover:hover {
  color: #aed581;
}
.light-green-lighten-1-text,
.light-green-lighten-1-text-hover:hover {
  color: #9ccc65;
}
.light-green-darken-1-text,
.light-green-darken-1-text-hover:hover {
  color: #7cb342;
}
.light-green-darken-2-text,
.light-green-darken-2-text-hover:hover {
  color: #689f38;
}
.light-green-darken-3-text,
.light-green-darken-3-text-hover:hover {
  color: #558b2f;
}
.light-green-darken-4-text,
.light-green-darken-4-text-hover:hover {
  color: #33691e;
}
.light-green-accent-1-text,
.light-green-accent-1-text-hover:hover {
  color: #ccff90;
}
.light-green-accent-2-text,
.light-green-accent-2-text-hover:hover {
  color: #b2ff59;
}
.light-green-accent-3-text,
.light-green-accent-3-text-hover:hover {
  color: #76ff03;
}
.light-green-accent-4-text,
.light-green-accent-4-text-hover:hover {
  color: #64dd17;
}
/*
=============================================================================================
# 5.12 Lime Text
---------------------------------------------------------------------------------------------
*/

.lime-text,
.lime-text-hover:hover {
  color: #cddc39;
}
.lime-lighten-5-text,
.lime-lighten-5-text-hover:hover {
  color: #f9fbe7;
}
.lime-lighten-4-text,
.lime-lighten-4-text-hover:hover {
  color: #f0f4c3;
}
.lime-lighten-3-text,
.lime-lighten-3-text-hover:hover {
  color: #e6ee9c;
}
.lime-lighten-2-text,
.lime-lighten-2-text-hover:hover {
  color: #dce775;
}
.lime-lighten-1-text,
.lime-lighten-1-text-hover:hover {
  color: #d4e157;
}
.lime-darken-1-text,
.lime-darken-1-text-hover:hover {
  color: #c0ca33;
}
.lime-darken-2-text,
.lime-darken-2-text-hover:hover {
  color: #afb42b;
}
.lime-darken-3-text,
.lime-darken-3-text-hover:hover {
  color: #9e9d24;
}
.lime-darken-4-text,
.lime-darken-4-text-hover:hover {
  color: #827717;
}
.lime-accent-1-text,
.lime-accent-1-text-hover:hover {
  color: #f4ff81;
}
.lime-accent-2-text,
.lime-accent-2-text-hover:hover {
  color: #eeff41;
}
.lime-accent-3-text,
.lime-accent-3-text-hover:hover {
  color: #c6ff00;
}
.lime-accent-4-text,
.lime-accent-4-text-hover:hover {
  color: #aeea00;
}
/*
=============================================================================================
# 5.13 Yellow Text
---------------------------------------------------------------------------------------------
*/

.yellow-text,
.yellow-text-hover:hover {
  color: #ffeb3b;
}
.yellow-lighten-5-text,
.yellow-lighten-5-text-hover:hover {
  color: #fffde7;
}
.yellow-lighten-4-text,
.yellow-lighten-4-text-hover:hover {
  color: #fff9c4;
}
.yellow-lighten-3-text,
.yellow-lighten-3-text-hover:hover {
  color: #fff59d;
}
.yellow-lighten-2-text,
.yellow-lighten-2-text-hover:hover {
  color: #fff176;
}
.yellow-lighten-1-text,
.yellow-lighten-1-text-hover:hover {
  color: #ffee58;
}
.yellow-darken-1-text,
.yellow-darken-1-text-hover:hover {
  color: #fdd835;
}
.yellow-darken-2-text,
.yellow-darken-2-text-hover:hover {
  color: #fbc02d;
}
.yellow-darken-3-text,
.yellow-darken-3-text-hover:hover {
  color: #f9a825;
}
.yellow-darken-4-text,
.yellow-darken-4-text-hover:hover {
  color: #f57f17;
}
.yellow-accent-1-text,
.yellow-accent-1-text-hover:hover {
  color: #ffff8d;
}
.yellow-accent-2-text,
.yellow-accent-2-text-hover:hover {
  color: #ffff00;
}
.yellow-accent-3-text,
.yellow-accent-3-text-hover:hover {
  color: #ffea00;
}
.yellow-accent-4-text,
.yellow-accent-4-text-hover:hover {
  color: #ffd600;
}
/*
=============================================================================================
# 5.14 Amber Text
---------------------------------------------------------------------------------------------
*/

.amber-text,
.amber-text-hover:hover {
  color: #ffc107;
}
.amber-lighten-5-text,
.amber-lighten-5-text-hover:hover {
  color: #fff8e1;
}
.amber-lighten-4-text,
.amber-lighten-4-text-hover:hover {
  color: #ffecb3;
}
.amber-lighten-3-text,
.amber-lighten-3-text-hover:hover {
  color: #ffe082;
}
.amber-lighten-2-text,
.amber-lighten-2-text-hover:hover {
  color: #ffd54f;
}
.amber-lighten-1-text,
.amber-lighten-1-text-hover:hover {
  color: #ffca28;
}
.amber-darken-1-text,
.amber-darken-1-text-hover:hover {
  color: #ffb300;
}
.amber-darken-2-text,
.amber-darken-2-text-hover:hover {
  color: #ffa000;
}
.amber-darken-3-text,
.amber-darken-3-text-hover:hover {
  color: #ff8f00;
}
.amber-darken-4-text,
.amber-darken-4-text-hover:hover {
  color: #ff6f00;
}
.amber-accent-1-text,
.amber-accent-1-text-hover:hover {
  color: #ffe57f;
}
.amber-accent-2-text,
.amber-accent-2-text-hover:hover {
  color: #ffd740;
}
.amber-accent-3-text,
.amber-accent-3-text-hover:hover {
  color: #ffc400;
}
.amber-accent-4-text,
.amber-accent-4-text-hover:hover {
  color: #ffab00;
}
/*
=============================================================================================
# 5.15 Orange Text
---------------------------------------------------------------------------------------------
*/

.orange-text,
.orange-text-hover:hover {
  color: #ff9800;
}
.orange-lighten-5-text,
.orange-lighten-5-text-hover:hover {
  color: #fff3e0;
}
.orange-lighten-4-text,
.orange-lighten-4-text-hover:hover {
  color: #ffe0b2;
}
.orange-lighten-3-text,
.orange-lighten-3-text-hover:hover {
  color: #ffcc80;
}
.orange-lighten-2-text,
.orange-lighten-2-text-hover:hover {
  color: #ffb74d;
}
.orange-lighten-1-text,
.orange-lighten-1-text-hover:hover {
  color: #ffa726;
}
.orange-darken-1-text,
.orange-darken-1-text-hover:hover {
  color: #fb8c00;
}
.orange-darken-2-text,
.orange-darken-2-text-hover:hover {
  color: #f57c00;
}
.orange-darken-3-text,
.orange-darken-3-text-hover:hover {
  color: #ef6c00;
}
.orange-darken-4-text,
.orange-darken-4-text-hover:hover {
  color: #e65100;
}
.orange-accent-1-text,
.orange-accent-1-text-hover:hover {
  color: #ffd180;
}
.orange-accent-2-text,
.orange-accent-2-text-hover:hover {
  color: #ffab40;
}
.orange-accent-3-text,
.orange-accent-3-text-hover:hover {
  color: #ff9100;
}
.orange-accent-4-text,
.orange-accent-4-text-hover:hover {
  color: #ff6d00;
}
/*
=============================================================================================
# 5.16 Deep Orange Text
---------------------------------------------------------------------------------------------
*/

.deep-orange-text,
.deep-orange-text-hover:hover {
  color: #ff5722;
}
.deep-orange-lighten-5-text,
.deep-orange-lighten-5-text-hover:hover {
  color: #fbe9e7;
}
.deep-orange-lighten-4-text,
.deep-orange-lighten-4-text-hover:hover {
  color: #ffccbc;
}
.deep-orange-lighten-3-text,
.deep-orange-lighten-3-text-hover:hover {
  color: #ffab91;
}
.deep-orange-lighten-2-text,
.deep-orange-lighten-2-text-hover:hover {
  color: #ff8a65;
}
.deep-orange-lighten-1-text,
.deep-orange-lighten-1-text-hover:hover {
  color: #ff7043;
}
.deep-orange-darken-1-text,
.deep-orange-darken-1-text-hover:hover {
  color: #f4511e;
}
.deep-orange-darken-2-text,
.deep-orange-darken-2-text-hover:hover {
  color: #e64a19;
}
.deep-orange-darken-3-text,
.deep-orange-darken-3-text-hover:hover {
  color: #d84315;
}
.deep-orange-darken-4-text,
.deep-orange-darken-4-text-hover:hover {
  color: #bf360c;
}
.deep-orange-accent-1-text,
.deep-orange-accent-1-text-hover:hover {
  color: #ff9e80;
}
.deep-orange-accent-2-text,
.deep-orange-accent-2-text-hover:hover {
  color: #ff6e40;
}
.deep-orange-accent-3-text,
.deep-orange-accent-3-text-hover:hover {
  color: #ff3d00;
}
.deep-orange-accent-4-text,
.deep-orange-accent-4-text-hover:hover {
  color: #dd2c00;
}
/*
=============================================================================================
# 5.17 Brown Text
---------------------------------------------------------------------------------------------
*/

.brown-text,
.brown-text-hover:hover {
  color: #795548;
}
.brown-lighten-5-text,
.brown-lighten-5-text-hover:hover {
  color: #efebe9;
}
.brown-lighten-4-text,
.brown-lighten-4-text-hover:hover {
  color: #d7ccc8;
}
.brown-lighten-3-text,
.brown-lighten-3-text-hover:hover {
  color: #bcaaa4;
}
.brown-lighten-2-text,
.brown-lighten-2-text-hover:hover {
  color: #a1887f;
}
.brown-lighten-1-text,
.brown-lighten-1-text-hover:hover {
  color: #8d6e63;
}
.brown-darken-1-text,
.brown-darken-1-text-hover:hover {
  color: #6d4c41;
}
.brown-darken-2-text,
.brown-darken-2-text-hover:hover {
  color: #5d4037;
}
.brown-darken-3-text,
.brown-darken-3-text-hover:hover {
  color: #4e342e;
}
.brown-darken-4-text,
.brown-darken-4-text-hover:hover {
  color: #3e2723;
}
/*
=============================================================================================
# 5.18 Grey Text
---------------------------------------------------------------------------------------------
*/

.grey-text,
.grey-text-hover:hover {
  color: #9e9e9e;
}
.grey-lighten-5-text,
.grey-lighten-5-text-hover:hover {
  color: #fafafa;
}
.grey-lighten-4-text,
.grey-lighten-4-text-hover:hover {
  color: #f5f5f5;
}
.grey-lighten-3-text,
.grey-lighten-3-text-hover:hover {
  color: #eeeeee;
}
.grey-lighten-2-text,
.grey-lighten-2-text-hover:hover {
  color: #e0e0e0;
}
.grey-lighten-1-text,
.grey-lighten-1-text-hover:hover {
  color: #bdbdbd;
}
.grey-darken-1-text,
.grey-darken-1-text-hover:hover {
  color: #757575;
}
.grey-darken-2-text,
.grey-darken-2-text-hover:hover {
  color: #616161;
}
.grey-darken-3-text,
.grey-darken-3-text-hover:hover {
  color: #424242;
}
.grey-darken-4-text,
.grey-darken-4-text-hover:hover {
  color: #212121;
}
/*
=============================================================================================
# 5.19 Blue-Grey Text
---------------------------------------------------------------------------------------------
*/

.blue-grey-text,
.blue-grey-text-hover:hover {
  color: #607d8b;
}
.blue-grey-lighten-5-text,
.blue-grey-lighten-5-text-hover:hover {
  color: #eceff1;
}
.blue-grey-lighten-4-text,
.blue-grey-lighten-4-text-hover:hover {
  color: #cfd8dc;
}
.blue-grey-lighten-3-text,
.blue-grey-lighten-3-text-hover:hover {
  color: #b0bec5;
}
.blue-grey-lighten-2-text,
.blue-grey-lighten-2-text-hover:hover {
  color: #90a4ae;
}
.blue-grey-lighten-1-text,
.blue-grey-lighten-1-text-hover:hover {
  color: #78909c;
}
.blue-grey-darken-1-text,
.blue-grey-darken-1-text-hover:hover {
  color: #546e7a;
}
.blue-grey-darken-2-text,
.blue-grey-darken-2-text-hover:hover {
  color: #455a64;
}
.blue-grey-darken-3-text,
.blue-grey-darken-3-text-hover:hover {
  color: #37474f;
}
.blue-grey-darken-4-text,
.blue-grey-darken-4-text-hover:hover {
  color: #263238;
}
/*
=============================================================================================
# 5.20 Black Text
---------------------------------------------------------------------------------------------
*/

.black-text,
.black-text-hover:hover {
  color: #000000;
}
/*
=============================================================================================
# 5.21 White Text
---------------------------------------------------------------------------------------------
*/

.white-text,
.white-text-hover:hover {
  color: #ffffff;
}
