/*
=================================================================================================
# 8 Corners
-------------------------------------------------------------------------------------------------
*/
/*
=============================================================================================
# 8.1 Soft
---------------------------------------------------------------------------------------------
*/

.soft-corner {
  border-radius: 2px;
}
.soft-top-corner {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.soft-bottom-corner {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.soft-left-corner {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.soft-right-corner {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/*
=============================================================================================
# 8.2 Sharp
---------------------------------------------------------------------------------------------
*/

.sharp-corner {
  border-radius: 0px;
}
.sharp-top-corner {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.sharp-bottom-corner {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.sharp-left-corner {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sharp-right-corner {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/*
=============================================================================================
# 8.3 Round
---------------------------------------------------------------------------------------------
*/

.round-corner {
  border-radius: 20px;
}
.round-top-corner {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.round-bottom-corner {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.round-left-corner {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.round-right-corner {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*
=============================================================================================
# 8.4 Circle
---------------------------------------------------------------------------------------------
*/

.circle-corner {
  border-radius: 50%;
}
.circle-top-corner {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.circle-bottom-corner {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.circle-left-corner {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.circle-right-corner {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
