/*
=================================================================================================
# 16 Dropdowns
-------------------------------------------------------------------------------------------------
*/

ul.dropdown {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 100%;
  max-height: 650px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  z-index: 999;
  display: none;
  overflow-y: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

ul.dropdown li {
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

ul.dropdown.select-dropdown li {
  cursor: pointer;
}

ul.dropdown.select-dropdown li.disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.input-field .caret {
  position: absolute;
  left: 0px;
  bottom: 25px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-top: 5px solid;
  border-bottom: none;
  cursor: pointer;
}

#dropdownTempWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  background-color: transparent;
}
