/*
=================================================================================================
# 15 Forms
-------------------------------------------------------------------------------------------------
*/
/*
=============================================================================================
# 15.1 Inputs
---------------------------------------------------------------------------------------------
*/

.input-field {
  position: relative;
  margin-top: 16px;
}
/*
=========================================================================================
# 15.1.1 Inputs and Textareas
-----------------------------------------------------------------------------------------
*/

.input-field .input {
  width: 100%;
  padding: 16px 0px;
  font-size: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  resize: vertical;
  box-sizing: content-box;
  transition: all 0.2s ease-out;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

::-moz-placeholder {
  color: #d1d1d1;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}

:-moz-placeholder {
  color: #d1d1d1;
  opacity: 1;
}

.input-field .input:disabled {
  opacity: .26;
  border-bottom-style: dotted !important;
  cursor: default;
}

.input-field input[type='number'].input {
  appearance: textfield;
}

.input-field input.input::-webkit-outer-spin-button,
.input-field input.input::-webkit-inner-spin-button {
  appearance: none;
}
/*
=========================================================================================
# 15.1.2 Labels
-----------------------------------------------------------------------------------------
*/

.input-field label {
  position: absolute;
  right: 0px;
  top: 16px;
  font-size: 15px;
  transition: all 0.2s ease-out;
}

.input-field label:hover {
  cursor: text;
}

.input-field label.open-input,
.input-field label.always-open-input {
  top: -10px;
  font-size: 12px
}

.input-field .input:disabled + label {
  opacity: .26;
}
/*
=========================================================================================
# 15.1.1 Prefix
-----------------------------------------------------------------------------------------
*/

.input-field .prefix {
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 30px;
  width: 45px;
  transition: all 0.2s ease-out;
}

.input-field .prefix ~ label {
  right: 45px;
}

.input-field .prefix ~ .input,
.input-field .prefix ~ .input {
  margin-right: 45px;
  width: calc(100% - 45px);
}

.input-field .input:disabled + .prefix {
  opacity: .26;
}
/*
=============================================================================================
# 15.2 CheckBoxes
---------------------------------------------------------------------------------------------
*/

.checkbox-field {
  margin-top: 16px;
}
/*
=========================================================================================
# 15.2.1 Checkboxes
-----------------------------------------------------------------------------------------
*/

.checkbox-field input.checkbox {
  position: absolute;
  right: -9999999;
  visibility: hidden;
}
/*
=========================================================================================
# 15.1.2 Labels
-----------------------------------------------------------------------------------------
*/

.checkbox-field label {
  position: relative;
  padding-right: 30px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.checkbox-field label .box {
  content: " ";
  position: absolute;
  height: 18px;
  width: 18px;
  right: 0px;
  top: 3px;
  transition: all 0.2s ease-out;
}

.checkbox-field .checkbox:checked + label .box {
  height: 9px;
  width: 22px;
  border-top: none;
  border-right: none;
  right: -1px;
  top: -6px;
  transform: rotate(-45deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

.checkbox-field .checkbox:disabled + label {
  opacity: .26;
}
/*
=============================================================================================
# 15.3 RadioBoxes
---------------------------------------------------------------------------------------------
*/
/*
=============================================================================================
# 15.4 Selects
---------------------------------------------------------------------------------------------
*/

.input-field select {
  display: none;
}

.input-field .input.select-input {
  cursor: pointer;
}
/*
=============================================================================================
# 15.5 Switchs
---------------------------------------------------------------------------------------------
*/

.switch-field {
  position: relative;
  margin-top: 16px;
}
/*
=========================================================================================
# 15.5.1 Labels
-----------------------------------------------------------------------------------------
*/

.switch-field label.switch {
  font-size: 14px;
  cursor: pointer;
}

.switch-field label.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: 0px;
  position: absolute;
  right: -9999px;
  visibility: hidden;
}
/*
=========================================================================================
# 15.5.2 Levers
-----------------------------------------------------------------------------------------
*/

.switch-field label.switch .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  vertical-align: middle;
  margin: 0px 16px;
  transition: all 0.2s ease-out;
}
/*
=========================================================================================
# 15.5.3 Triggers
-----------------------------------------------------------------------------------------
*/

.switch-field label.switch .lever .trigger {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  top: -3px;
  right: 0px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-out;
}

.switch-field label.switch input:checked + .lever .trigger {
  right: 19px;
}
