/*
=================================================================================================
# 14 Horizontal Rules
-------------------------------------------------------------------------------------------------
*/

	/*
	=============================================================================================
	# 14.1 Thick
	---------------------------------------------------------------------------------------------
	*/

		hr.joqd.thick-hr{
			border: 0px none;
			height: 2px;}

	/*
	=============================================================================================
	# 14.2 Thin
	---------------------------------------------------------------------------------------------
	*/

		hr.joqd.thin-hr{
			border: 0px none;
			height: 1px;}
